
</div> <!-- end div containerContent -->
<!-- START OF FOOTER -->
<div id="footer">

<?php if ($navigation and false) { ?>
    <div class="navbar clearfix">
        <div class="breadcrumb"><?php print_navigation($navigation); ?></div>
        <div class="menu"><?php echo $menu; ?></div>
    </div>
<?php } ?>
<div class="footer">
<table class="footer_panel" width="100%" border="0" cellpadding="15" cellspacing="0">
  <tr> 
    <div align="center"><hr /></div>
<div align="center"><a href="https://lms.portal.keane.com/LMShome.php"><font size="1" color="#006699">Home</font></a> <font size="1" color="#006699">|</font> <a href="https://lms.portal.keane.com/course/courselistnew.php?catid=6"><font size="1" color="#006699">Course Catalogue</font></a> <font size="1" color="#006699">|</font> <a href="https://lms.portal.keane.com/course/category.php?id=48"><font size="1" color="#006699">KGEM</font></a> <font size="1" color="#006699">| </font><a href="https://lms.portal.keane.com/course/category.php?id=49"><font size="1" color="#006699">Skillsoft</font></a> <font size="1" color="#006699">|</font> <a href="https://lms.portal.keane.com/blocks/classroom/currentcalender.php"><font size="1" color="#006699">ILT Calendar</font></a> <font size="1" color="#006699">|</font> <a href="https://lms.portal.keane.com/mod/forum/view.php?f=3"><font size="1" color="#006699">News &amp; Events</font></a><font size="1" color="#006699"> |</font> <a href="https://lms.portal.keane.com/mod/forum/view.php?f=2"><font size="1" color="#006699">Discussion Board</font></a> <font size="1" color="#006699">|</font> <a href="https://lms.portal.keane.com/blog/index.php?filtertype=site&"><font size="1" color="#006699">Blogs</font></a> <font size="1" color="#006699">| </font><a href="https://lms.portal.keane.com/grade/report/overview/completion.php?id=1"><font size="1" color="#006699">Completion report </font></a> <br /><font size="1" color="#666666">Best viewed in 1024x786 resolution. Keane Inc. All rights reserved.</font><font size="1" color="#666666"><br /></font><font size="1" face="Arial" color="#006699"></div>
<div align="center"><hr /></div>
     </td>
       
  </tr>
</table>
</div>

</div>

</body>
</html>
