<script type="text/javascript">
<!--
	function togglefiltesview() {
		var showfullform = hideshow(document.getElementById('fullfiltersview'));
		hideshow(document.getElementById('compactfiltersview'));
		hideshow(document.getElementById('pagingbar_fullfiltersview'));
		hideshow(document.getElementById('pagingbar_compactfiltersview'));
		
		// Toggle hidden 'show_fullform' input
		document.getElementById('show_fullform_searchform').value = (showfullform)?1:0;	
		
	}

	function hideshow(which){
		if (!document.getElementById)
			return
		if (which.style.display=="block") {
			which.style.display="none";
			return false;
		} else {
			which.style.display="block";
			return true;
		}
	}
//-->
</script>

<table width="100%"><tr>
	<td align="left" width="1%" nowrap="nowrap">
		<a href="javascript:togglefiltesview()"><?php print_string('hide_showfilterform','block_useradmin') ?></a>
	</td><td align="center">
	
	<div id="pagingbar_fullfiltersview" style="display: <?php echo ($showfields['_fullform'])?'block':'none' ?>;">
	<!-- Paging Bar, with fullfiltersview -->	
<?php
    // Paging bar
    print_paging_bar($usersearchcount, $page, $perpage, "?show_fullform=1&");  // Base URL is current page w/o any parameters (filter params are in Session)
?>
	</div>

	<div id="pagingbar_compactfiltersview" style="display: <?php echo ($showfields['_fullform'])?'none':'block' ?>;">
	<!-- Paging Bar, with compactfiltersview -->	
<?php
    // Paging bar
    print_paging_bar($usersearchcount, $page, $perpage, "?show_fullform=0&");  // Base URL is current page w/o any parameters (filter params are in Session)
?>
	</div>
	
	
	</td><td align="right" width="1%" nowrap="nowrap">
		<!-- Per-page form -->
		<form id="perPageForm" action="manage_user.php" method="get">
<?php 
		echo get_string('userperpage','block_useradmin')." ";	
		unset($choices);
    	$choices["10"] = '10';
		$choices["20"] = '20';
		$choices["50"] = '50';
		$choices["100"] = '100';
		$choices["200"] = '200';
		$choices["500"] = '500';
		choose_from_menu ($choices, "perpage", $perpage, "", "document.getElementById('perPageForm').submit();");
?>
		<input type="hidden" name="page" value="0" /> <!-- Reset page number on perpage change --> 	 
		<input type="hidden" name="show_fullform" value="1" /> <!--  Force show fullform -->
		</form>	
	</td>
</tr></table>

<!--  Compact Filters View (hidden by default) -->
<div id="compactfiltersview" style="display: <?php echo ($showfields['_fullform'])?'none':'block' ?>;" >
<h3>
<?php
	echo $strsearchdesc;
?>
</h3>	
</div>

<!-- Full Filters View (shown by default) -->
<div id="fullfiltersview" style="display: <?php echo ($showfields['_fullform'])?'block':'none' ?>">
<table  class="searchbox" cellpadding="2" cellspacing="0" align="center"><tr><td colspan="3">
	<!-- Bars of initials -->
<?php 
	$alphabet = explode(',', get_string('alphabet'));
    $strall = get_string("all");

	/// Bar of first initials
	echo get_string("firstname")." : ";
    if ($firstinitial) {
            echo " <a href=\"manage_user.php?show_fullform=1&sort=firstname&amp;dir=ASC&amp;".
                 "perpage=$perpage&amp;firstinitial=&amp;lastinitial=$lastinitial\">$strall</a> ";
        } else {
            echo " <b>$strall</b> ";
        }
        foreach ($alphabet as $letter) {
            if ($letter == $firstinitial) {
                echo " <b>$letter</b> ";
            } else {
                echo " <a href=\"manage_user.php?show_fullform=1&sort=firstname&amp;dir=ASC&amp;".
                     "perpage=$perpage&amp;lastinitial=$lastinitial&amp;firstinitial=$letter\">$letter</a> ";
            }
        }
?>
	<br />
<?php
        /// Bar of last initials
        echo get_string("lastname")." : ";
        if ($lastinitial) {
            echo " <a href=\"manage_user.php?sort=lastname&amp;dir=ASC&amp;".
                 "perpage=$perpage&amp;lastinitial=&amp;firstinitial=$firstinitial\">$strall</a> ";
        } else {
            echo " <b>$strall</b> ";
        }
        foreach ($alphabet as $letter) {
            if ($letter == $lastinitial) {
                echo " <b>$letter</b> ";
            } else {
                echo " <a href=\"manage_user.php?sort=lastname&amp;dir=ASC&amp;".
                     "perpage=$perpage&amp;firstinitial=$firstinitial&amp;lastinitial=$letter\">$letter</a> ";
            }
        }
?>
</td></tr><tr><td colspan="3">

<!-- Search Form -->      
	<form id="searchform" action="manage_user.php" method="get">
<?php
        echo get_string('searchin','block_useradmin').": <i>"
			.get_string('firstname').", ".get_string('lastname').", ".get_string('email').", "
			.get_string('institution').", ".get_string('department').", ".get_string('username')."</i> ";

?>
	        <input id="searchfield" type="text" name="search" value="<?php p($search, true) ?>" size="20" />
	
	       	<input type="hidden" name="page" value="0" /><!-- Reset page number on new search --> 
			<input id="show_fullform_searchform" type="hidden" name="show_fullform" value="<?php p($showfields['_fullform']) ?>" />	        
<?php
		// Clear Search button
        if ($search) {
?>
			<input type="button" 
				onclick="document.getElementById('searchfield').value=''; document.getElementById('searchform').submit();" 
				value="<?php print_string("clearsearch", "block_useradmin"); ?>" />
<?php			
        }
?>
</td></tr><tr><td colspan="3">
		<!--  Hidden "callback" fields for the form in the IFRAME -->
		<input type="hidden" id="contextlevel" name="contextlevel" value="<?php echo $contextlevel ?>">
		<input type="hidden" id="contextinstanceid" name="contextinstanceid" value="<?php echo $contextinstanceid ?>">
		<input type="hidden" id="donthaverole" name="donthaverole" value="<?php echo $donthaverole ?>">
		<input type="hidden" id="roleid" name="roleid" value="<?php echo $roleid ?>">
				
</td></tr>
<tr><td>
<?php
		echo get_string('filterconfirmedusers', 'block_useradmin').' ';
		choose_from_menu($options_filterconfirmed, "filterconfirmed", $filterconfirmed,'');
?>
</td><td align="center">
<?php
		echo get_string('filterauth', 'block_useradmin').' ';
		$options_filterauth =useradmin_authfilter_options($authplugins);
		choose_from_menu($options_filterauth, "filterauth", $filterauth, get_string('anyauth','block_useradmin') );		
?>
</td><td align="right">
<?php
		// Show MNET peer filter only if any MNET user exists
		if ( $mnet_auth_users_exists ) {
			echo get_string("filterbymnethost","block_useradmin") . ' ';
			$availablehosts = useradmin_get_available_mnet_hosts();
			choose_from_menu($availablehosts, "mnethostid", $mnethostid, get_string("anyhost","block_useradmin") );
		}
?>
</td></tr>
<tr><td colspan="3">
<?php
	// TODO this IFRAME juggle should be converted in a clean AJAX menu chain
	$iframe_querystring = "_contextlevel=$contextlevel&_contextinstanceid=$contextinstanceid"
						 ."&_donthaverole=$donthaverole&_roleid=$roleid"
						 ."&parent_contextlevel=contextlevel&parent_contextinstanceid=contextinstanceid"
						 ."&parent_donthaverole=donthaverole&parent_roleid=roleid"
						 ."&strprefix=filterctx_";
?>
<iframe src="contextfilterframe.php?<?php echo $iframe_querystring ?>" width="800" height="45" frameborder="0" marginwidth="0" marginheight="0" >IFRAMEs support required ;-)</iframe>
		 
</td></tr>
</form>
				
</td></tr><tr><td colspan="2">
	<!-- Clear all filter form  -->
	<form id="showAllForm" action="manage_user.php" method="get">
	   	<input type="hidden" name="clearallfilters" value="1" />
	   	<input id="show_fullform_showAllForm" type="hidden" name="show_fullform" value="1" />
	    	
	       <input type="submit" value="<?php echo print_string("clearallfilters", "block_useradmin") ?>" />
    </form>
    
</td><td align="right">
	<input type="button" value="<?php print_string("search", "block_useradmin") ?>" onClick="document.getElementById('searchform').submit();" />
</td></tr></table>
</div><!-- End fullfiltersview -->