<p>De forma predeterminada las formas de Retroalimentación creadas en la página principal de Moodle son disponibles en todo el sitio y aparecerán en todos los cursos que utilicen el bloque de Retroalimentación.</p>
<p>Usted sin embargo puede limitar los cursos en los que la forma de Retroalimentación aparecerá por medio de Asignarlo a cursos especificos.</p>