<p>Una vez de que ya ha seleccionado el curso(s) relevantes de su Busqueda, usted puede asociarlos con esta Retroalimentación usando Asignar Cursos. Usted puede seleccionar múltiples cursos con Ctrl o seleccionar una serie de cursos con Shift.</p>
<p>Usted puede desasociar un Curso de una Retroalimentación en cualquier momento.</p>