<img alt valign="middle" src="<?php echo $CFG->wwwroot?>/mod/feedback/icon.gif">&nbsp;<b><?php print_string('modulename', 'feedback');?></b>

<ul>
<p>
Con este módulo usted puede encuestar a sus alumnos con una encuesta personalizada.
</p>
</ul>