<img alt valign="middle" src="<?php echo $CFG->wwwroot?>/mod/feedback/icon.gif">
   &nbsp;<b><?php print_string('preview', 'feedback');?></b>

<ul>
<p>
En la vista previa usted podrá cambiar el orden de las preguntas.
</p>
</ul>

