<p>Usted puede especificar horarios que indiquen cuando la retroalimentación estará accesible a los usuarios</p>
<p>Antes de la hora especificada, la retroalimentación no estará disponible.<br />
Si la casilla no está seleccionada no habrá un límite definido.</p>