<p>Usted puede especificar horarios que indiquen cuando la retroalimentación estará accesible a los usuarios.</p>
<p>Después del horario aquí definido, la retroalimentación no estará disponible. <br />
Si la casilla no ha sido seleccionada no habrá un límite definido</p>