


<?php

  echo '<form name="form1">';
  echo '<input type="text" name="t1"/>'
  echo '<select name="select1" size="1" style="background-color:#FFFFD7" onChange="displaydesc(document.form1.select1, thetext1, 'textcontainer1')">';
  echo '<option selected value="http://www.javascriptkit.com">JavaScript Kit </option>';
  echo '<option value="http://freewarejava.com?name=".t1.>Freewarejava.com</option>';
  echo '<option value="http://wired.com" target="newwin">Wired News</option>';
  echo '<option value="http://www.news.com">News.com</option>';
  echo '<option value="http://www.codingforums.com" target="newwin">Coding Forums</option>';
  echo '</select>';
   echo '<input type="button" value="Go" ';
  echo 'onClick="jumptolink(document.form1.select1)"><br>';
  echo '<span id="textcontainer1" align="left" style="font:italic 13px Arial">';
  echo '</span>';
  echo '</form>';





<?