/* $Id: js-override-topcoll.css,v 1.3.2.3 2009/08/21 19:19:41 gb2048 Exp $ */
/*-- This css file differs from topics_collapsed.css because it defines classes that will be
        manipulated by the JavaScript in lib.js (or its compressed version lib_min.js). -- */

/* -- The class which is used to hide and show the sections underneath their Toggle. -- */
tr.hid {
		display: none;
	  }

/* -- Set the clickable element of the Toggle */
tr.cps td a {
		display: block;
		text-decoration: none;
		color: #000000;
		padding: 7px 0 7px 35px; /* The 35px allows the arrow to be on the left and the next to it.  It is the space for the arrow! */
		text-align: left;
		background: url(arrow_down.png) no-repeat 5px 45%; /* Position the arrow roughly in the centre of the Toggle */
		width: auto;
		}

/* -- What happens when a Toggle is hovered over -- */
tr.cps td a:hover {
		background-color: #eeeeff;
		}
