/* $Id: topics_collapsed.css,v 1.4.2.3 2009/08/21 19:18:03 gb2048 Exp $ */
/* -- The Toggle's row -- */
tr.cps {
		background-color: #e2e2f2;
		color: #555555;
		display: table-row;
}

/* -- The table data section of a Toggle's row -- */
tr.cps td {
		font-size: 0.8em;
		text-align: left;
		padding: 0 0;
		width: auto;
		}

/* -- The topic summary text -- */		
tr.cps td span {
		   font-size: 1.2em;
		   font-style: italic;
		   text-align: left;
		   }

/* -- For when no summary is entered */		   
tr.cps td a.cps_nosumm {
		   text-align: center;
		   }  

/* -- For centring the 'Topic x' text -- */		   
tr.cps td.cps_centre {
		   text-align: center;
		   font-size: 0.6em;
		   }  

/* -- For Internet Explorer inability to deal with column calculations when a colspan is used -- */		   
#thetopics .section td.content, #thetopics  col.content {
	width: auto;
	text-align: left;
}

/* -- Where the Toggle's arrow png is -- */
#thetopics .section td.left, #thetopics  col.left {
	width: 28px; /* If the arrow's width changes, change this and the padding of 'tr.cps td a' in js-override-topcoll.css */
}	

/* -- Where the 'Topic x' text is -- */
#thetopics .section td.right, #thetopics  col.right {
	width: 28px;
}

/* -- Make the table work with auto width for the content column -- */
#thetopics {
	width: 100%;
	table-layout: fixed;
}   