<table cellpadding="9" cellspacing="0">
 <tr valign="top">
  <td align="right"><p><?php print_string('configmaxchars', 'block_course_team_standing'); ?>:</td>
  <td><input type="text" name="maxchars" size="30" value="<?php echo $this->config->maxchars; ?>" /></td>
 </tr>
 <tr>
   <td colspan="2" align="center">
    <input type="submit" value="<?php print_string('savechanges') ?>" />
   </td>
 </tr>
</table>
