<h2>Elemente bearbeiten</h2>

<p>Sie können jederzeit Fragen und Beschriftungen zu Ihrem Fragebogen hinzufügen, bearbeiten oder löschen.</p>

<p>Wählen sie dazu den gewünschten Elementtyp aus, füllen Sie das Formular aus und speichern die Einträge. In der Vorschau können Sie dann noch die Reihenfolge anpassen und ggfs. Ihre Einträge überarbeiten.</p>

<p>Außerdem können Sie die Reihenfolge der Darstellung der Fragen ändern oder festlegen, ob eine Frage zwingend ausgefüllt werden muss oder nicht.</p>