<h2>Feedback</h2>

<ul>
<li><a href="help.php?module=feedback&file=options.html">Wahlmöglichkeiten</a></li>
<li><a href="help.php?module=feedback&file=limit.html">Zahl der Stimmabgaben</a></li>
<li><a href="help.php?module=feedback&file=timerestrict.html">Zeitbeschränkung</a></li>
</ul>