<h2>Kurse zuordnen</h2>

<p>Wählen Sie in der Liste den Kurs aus, der auf das Feedback Zugriff haben soll und klicken Sie auf "Kurs zuordnen". Alle Kurse, die zu diesem Feedback zugeordnet sind, werden in der unten stehenden Liste dargestellt.</p>