<h2>Kurszuordnung für zentrale Befragungen</h2>

<p>Standardmäßig sind alle Feedbacks, die auf der Startseite von Moodle erstellt wurden, in allen Kursräumen über den Block "Feedback" zugreifbar. </p>

<p>Hier kann man festlegen, auf welche Kurse der Zugriff beschränkt werden soll.</p>