<h2><img alt valign="middle" src="<?php echo $CFG->wwwroot?>/mod/feedback/icon.gif">&nbsp;<?php print_string('modulename', 'feedback');?></h2>

<p>Mit dem Feedback-Modul können Fragebögen zur Teilnehmerbefragung erstellt und ausgewertet werden. </p>