<h2>Mehrfaches Ausfüllen zulassen</h2>

<p>Hier können Sie festlegen, ob ein Fragebogen mehrfach ausgefüllt werden darf.</p>

<p>Beim mehrfachen Ausfüllen gilt:</p>
<ul>
   <li>
      <b>Feedback ist anonym</b><br />
      Es werden so viele Antworten gespeichert, wie oft der Fragebogen ausgefüllt wurde.
   </li>
   <li>
      <b>Feedback ist nicht anonym</b><br />
      Jede neue Antwort überschreibt die alte Antwort.
   </li>
</ul>