<h2>Startzeitpunkt für Befragung</h2>

<p>Sie können hier festlegen, in welchem Zeitraum der Fragebogen zugreifbar sein soll.</p>

<p>Vor dem hier angegebenen Zeitpunkt ist der Fragebogen für Teilnehmer/innen nicht erreichbar.</p>

<p>Wenn die Checkbox nicht aktiv ist, gibt es keine zeitliche Begrenzung.</p>