<h2>Ende der Befragung</h2>

<p>Sie können hier festlegen, in welchem Zeitraum der Fragebogen zugreifbar sein soll.</p>

<p>Nach dem hier angegebenen Zeitpunkt ist der Fragebogen für Teilnehmer/innen nicht erreichbar.</p>

<p>Wenn die Checkbox nicht aktiv ist, gibt es nach hinten keine zeitliche Begrenzung.</p>