﻿/* Core */a:link {    color: #0091ab;}a:visited {    color:#0091ab;}a:hover {    color: #83c8ff;	text-decoration:none;}a.dimmed:link,a.dimmed:visited {  color:#AAAAAA;}/*** *** Top Menu ***/#top_menu {	background:#f37205 url('images/default/top_menu.gif') repeat-x top center;}#top_menu ul li {	background:url('images/default/top_menu_line.gif') right top no-repeat;}	/*** *** Header ***/#logo { 
  background: url('images/default/logo.gif') no-repeat left top;
  width: 398px;
  height: 107px;
  left: 0px;
  float:left;
} 

#header {
  background: url('images/default/header-grad.gif') repeat-x;
  height: 107px;
}


h1.headermain {  background-color: transparent;}.header-profilename, .header-profilename a {	background-color: transp999999	color:#ffffff;}.header-profilename, .header-profilename a:hover {	background-color: transparent;	color: #83c8ff;	text-decoration:none;}.header-profileoptions {	background-color: transparent;	color:#dfdfdf;}.header-profileoptions, .header-profileoptions a {	background-color: transparent;	color:#999999;}.header-profileoptions a:hover {	background-color: transparent;	color: #83c8ff;	text-decoration:none;}