/**
 * Horizontal CSS Drop-Down Menu Module
 *
 * @file		dropdown.css
 * @package		Dropdown
 * @version		0.7.1
 * @type		Transitional
 * @stacks		597-599
 * @browsers	Windows: IE6+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2006-2008 Live Web Institute. All Rights Reserved.
 *
 */

ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

ul.dropdown {

 z-index: 597;
 float: left;
}

ul.dropdown li {
 float: left;
 line-height: 1.3em;
 vertical-align: middle;
 zoom: 1;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}

ul.dropdown ul li {
 float: none;
}

ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}

/*------------------------------------------------------------------------------------------------------/
	@section	Style Framework  */


	/* First-level expected directory tag - li */

	ul.dropdown li {
	 padding: 2px;
	 
	}

	ul.dropdown *.dir {
	 padding-right: 30px;
	 background-image: none;
	 background-position: 100% 50%;
	 background-repeat: no-repeat;
	}

		/* Non-first level */
		ul.dropdown ul *.dir {
		 padding-right: 15px;
		 background-image:  url(images/nav-arrow-right.png);
		 background-position: 100% 50%;
		 background-repeat: no-repeat;
		}

		ul.dropdown ul ul *.dir {
		 background-image:  url(images/nav-arrow-right2.png);
		}


	/* Components override */

	ul.dropdown-vertical *.dir {
	 background-image:  url(images/nav-arrow-right.png);
	}

	ul.dropdown-vertical-rtl *.dir {
	 padding-right: 15px;
	 background-image:  url(images/nav-arrow-left.png);
	 background-position: 0 50%;
	}



/*------------------------------------------------------------------------------------------------------/
	@section	Base Drop-Down Styling  */



	/* ALL LEVELS (incl. first) */

	ul.dropdown {
	 font: 15px/normal Arial, Helvetica, sans-serif;

	}

		ul.dropdown li {
		 background-color: #333;
		 color: #fff;
		}

		ul.dropdown li.hover,
		ul.dropdown li:hover {
		}

		/* Links */

		ul.dropdown a:link,
		ul.dropdown a:visited { color: #fff; text-decoration: none;}
		ul.dropdown a:hover {
		 border-top-color: #5db1e0 !important;
		 border-left-color: #5db1e0;
		 
		 color: #fff;
		}

		ul.dropdown ul a.dir:hover { /* proposal */
		 background-color: #4498ca;
		 background-image:  url(images/comnav-arrowon.png);
		 color: #fff;
		}

		ul.dropdown a:active {
		 background: #222;
		 color: #fff;
		}


		/* NON-FIRST LEVEL */

		ul.dropdown ul {
		 left: auto;
		 right: 0;
		 width: auto;
		 margin-top: -1px;
		 border-top: 1px solid #1a1a1a;
		 border-left: solid 1px #4c4c4c;
		 font: bold 11px/1em Tahoma, Geneva, Verdana, sans-serif;
		}

			ul.dropdown ul li {
			 background-color: #3a3a3a;
			}

		ul.dropdown ul ul {
		 top: 0;
		 right: auto;
		 left: 100%;
		 margin-top: 0;
		 border-top: none;
		 border-left: none;
		 font-weight: normal;
		}

			ul.dropdown ul ul li {
			 background-color: #4c4c4c;
			}

		ul.dropdown ul ul ul li {
		 background-color: #595959;
		}



/* Mixed */

ul.dropdown li a,
ul.dropdown *.dir {
 border-style: solid;
 border-width: 1px;
 border-color: #404040 #1a1a1a #1a1a1a #505050;
}

ul.dropdown ul li a,
ul.dropdown ul *.dir { border-color: #4a4a4a #242424 #242424; border-left: none; }

ul.dropdown ul ul li a,
ul.dropdown ul ul *.dir { border-color: #595959 #333 #333; }

ul.dropdown ul ul ul li a,
ul.dropdown ul ul ul *.dir { border-color: #767676 #404040 #404040; }



/* Custom elements */

#n-left { width: auto; text-align: center; }
#n-left ul { right: auto; left: 0; width: 249px; text-align: left; }
#n-left ul ul { left: 249px; width: 150px; }
#n-left ul a { width: 232px; }
#n-left ul a.dir { width: 210px; }
#n-left ul ul a { width: 133px; }
#n-left ul ul a.dir { width: 111px; }
#n-left ul ul ul { left: 100%; }

#n-right { width: auto; text-align: center; }
#n-right ul { right: 0; left: auto; width: 249px; text-align: left; }
#n-right ul ul { left: 249px; width: 150px; }
#n-right ul a { width: 232px; }
#n-right ul a.dir { width: 210px; }
#n-right ul ul a { width: 133px; }
#n-right ul ul a.dir { width: 111px; }
#n-right ul ul ul { left: 100%; }

/*------------------------------------------------------------------------------------------------------/
 * @section		Base Style Extension
 */

ul.dropdown a,
ul.dropdown span {
 display: block;
 padding: 5px 10px;
}



/*------------------------------------------------------------------------------------------------------/
 *	@section	Base Style Override
 */


ul.dropdown li {
 padding: 0;
}

ul.dropdown ul a,
ul.dropdown ul span { /* POI, proposal: override abstract a, span */
 padding: 8px;
}



/*------------------------------------------------------------------------------------------------------/
 * @section		Base Style Reinitiate: post-override activities
 */


ul.dropdown *.dir { /* POI */
 padding: 5px 15px;
}

ul.dropdown ul *.dir {
 padding: 8px 30px 8px 8px;
}



/*------------------------------------------------------------------------------------------------------/
 *	@section	Custom Styles
 */


ul.dropdown ul a {
 width: 133px;
}

ul.dropdown ul a.dir {
 width: 111px;
}



/*------------------------------------------------------------------------------------------------------/
 * @section		Support Class `open` Usage
 * @source		js, artificial
 *
 */


ul.dropdown *.open {
 background-color: #3d3d3d;
}
ul.dropdown ul *.open {
 background-color: #4c4c4c;
 background-image:  url(images/comnav-arrowover.png);
 color: #fff;
}
ul.dropdown ul ul *.open {
 background-color: #595959;
 background-image:  url(images/comnav-arrowover2.png);
 color: #fff;
}
/* Override UPPER TWO definitions */
ul.dropdown a.open:hover {
 background-color: #4498ca;
 color: #fff;
}
ul.dropdown ul a.open:hover {
 background-image:  url(images/comnav-arrowon.png);
 color: #fff;
}


/* Clone in CSS 2 */

ul.dropdown li:hover > *.dir {
 background-color: #3d3d3d;
}
ul.dropdown ul li:hover > *.dir {
 background-color: #4c4c4c;
 background-image:  url(images/comnav-arrowover.png);
}
ul.dropdown ul ul li:hover > *.dir {
 background-color: #595959;
 background-image:  url(images/comnav-arrowover2.png);
 color: #fff;
}

/* Override UPPER TWO definitions */
ul.dropdown li:hover > a.dir:hover {
 background-color: #4498ca;
 color: #fff;
}
ul.dropdown ul li:hover > a.dir:hover {
 background-image:  url(images/comnav-arrowon.png);
 color: #fff;
}

.menubar {
background: #d7d7db url('images/sideheader.jpg') repeat-x;
  color: #555555;
  margin-left: auto; 
  margin-right: auto;
  width: 960px;
  font-size: 0.9em;
  text-align: middle;
  font-weight:normal;

}


