<table cellspacing="0" cellpadding="5" border="0" class="boxaligncenter">

<tr valign="top">
    <td align="right">enrol_OptimalEnrol_keyholderrole:</td>
    <td>
    <?php 
        $roles = get_all_roles();
        $rolenames = array();
        foreach ($roles as $id=>$role) {
            $rolenames[$id]=$role->name;
        }
        choose_from_menu($rolenames, 'enrol_OptimalEnrol_keyholderrole', $frm->enrol_OptimalEnrol_keyholderrole); 
    ?>
    </td>
    <td>
    <?php  print_string("keyholderrole", "enrol_OptimalEnrol") ?>
    </td>
</tr>

<tr>
    <td align="right">enrol_OptimalEnrol_showhint:</td>
    <td>
<?php
    $choices = array();
    $choices['0'] = get_string('no');
    $choices['1'] = get_string('yes');
    choose_from_menu ($choices, 'enrol_OptimalEnrol_showhint', $frm->enrol_OptimalEnrol_showhint, '');
?>
    </td><td>
    <?php  print_string('enrol_OptimalEnrol_showhint', 'enrol_OptimalEnrol') ?>
    </td>
</tr>

<tr>
    <td align="right">enrol_OptimalEnrol_usepasswordpolicy:</td>
    <td>
<?php
    $choices = array();
    $choices['0'] = get_string('no');
    $choices['1'] = get_string('yes');
    choose_from_menu ($choices, 'enrol_OptimalEnrol_usepasswordpolicy', $frm->enrol_OptimalEnrol_usepasswordpolicy, '');
?>
    </td><td>
    <?php  print_string('enrol_OptimalEnrol_usepasswordpolicy', 'enrol_OptimalEnrol') ?>
    </td>
</tr>

<tr>
    <td align="right">enrol_OptimalEnrol_requirekey:</td>
    <td>
<?php
    $choices = array();
    $choices['0'] = get_string('no');
    $choices['1'] = get_string('yes');
    choose_from_menu ($choices, 'enrol_OptimalEnrol_requirekey', $frm->enrol_OptimalEnrol_requirekey, '');
?>
    </td><td>
    <?php  print_string('enrol_OptimalEnrol_requirekey', 'enrol_OptimalEnrol') ?>
    </td>
</tr>


</table>
