<h1>Quiz Report Analysis</h1>

<p>If you choose Yes for this option then the student will be allowed to view its performance and progress in a quiz in a very detailed form (textual and graphical) and to compare it to that of the other students who attempted the quiz. Quiz Report Analysis is always enabled for the teacher. </p>
<p>Quiz Report Analysis is a useful self-assessment tool, based on the findings of the studies in open learner modelling. Textual descriptions and charting information are available to students and teacher. Analysis of student performance is both per attempt and per question category. In this way students realize explicitly which topics they know and which topics they need to study harder.Quiz Reports Analysis supports various quiz options such as adaptive mode, student review options and quiz grading methods and uses the appropriate quiz feedback fields for student feedback. It consists of four sections:</p>

<h3>Textual Presentation</h3>

<p>In this section, students can view their performance in a particular quiz attempt. Data is presented in text and includes performance stats per attempt and per question category, such as the types of questions posed, known/problematic topics and misconceptions, not answered questions, performance feedback etc.</p>

<h3>Graphical Presentation</h3>

<p>In this section, students can view their performance in a particular quiz attempt. Attempt performance is presented in bar charts and includes detailed stats about current attempt and each question category.Student can also view which question types were used per question category presented in pie charts.</p>

<h3>Attempt Comparison</h3>

<p>In this section, students can compare their performance in a quiz attempt to the average performance of students in all quiz attempts.The average performance of students is calculated, considering the quiz grading method and data is presented in bar charts. If quiz grading method is <b>Highest Grade</b> the average student performance is calculated, selecting for each student the attempt with the highest grade(if there are more than one, select the most recent of them) and calculate the mean for the desired data stats. If quiz grading method is <b>Average Grade</b> the average student performance is calculated, calculating the mean of all student attempts, for the desired data stats . If quiz grading method is <b>First Grade</b> the average student performance is calculated, selecting the first attempt of each student and calculate the mean for the desired data stats. If is <b>Last Grade</b> the average student performance is calculated, selecting for each student the most recent attempt and calculate the mean for the desired data stats.</p> 

<h3>Progress Comparison</h3>

<p>In this section, students can view their progress in all their attempts and to compare it to that of all students. Attempt scores for each student attempt and per question category are presented in bar charts. Their attempt progress is compared to average attempt score of each attempt and per question category, for all students.</p>
