<form method="post" action="view.php?f=<?php echo $classroom->id; ?>">
<input type="hidden" name="sesskey" value="<?php echo $USER->sesskey; ?>" />
<table border="0" align="center">
<tr>
<td>Export Attendence: </td>
<td>
<?php 
$choices = classroom_get_locations($classroom->id);
if (!empty($choices)) {
    choose_from_menu($choices, 'location', $location, '');
?>
<?php
}
?>
</td>
<td>
<select name="download" >
   <option value="excel" selected="selected"><?php print_string('excelformat', 'classroom'); ?></option>
   <option value="ods"><?php print_string('odsformat', 'classroom'); ?></option>
</select>
<input type="submit" value="<?php print_string('exporttofile', 'classroom'); ?>" /></td>
</td></tr>
</tr></table>
<br/>
</form>
