<?php
if ($show_instructions) {
    $columns = 'twocolumns';
} else {
    $columns = 'onecolumn';
}
?>
<head>
<script Xlanguage="javascript">
function login()
{ 
document.getElementById('login').submit();
alert("Hello");
} 
</script>
</head>

<div class="loginbox clearfix <?php echo $columns ?>">
  <div class="loginpanel">
    <h2><?php print_string("returningtosite") ?></h2>
      <div class="subcontent loginsub">
        <div class="desc">
          <?php
            print_string("loginusing");
            if (empty($CFG->usesid)) {
                echo '<br/>';
                echo '('.get_string("cookiesenabled").')';
                helpbutton("cookies", get_string("cookiesenabled"));
            }
           ?>
        </div>
        <?php
          if (!empty($errormsg)) {
              echo '<div class="loginerrors">';
              formerr($errormsg);
              echo '</div>';
          }
        ?>
        <form action="index.php" method="post" id="login">
          <div class="loginform">
            <div class="form-label"><label for="username"><?php print_string("username") ?></label></div>
            <div class="form-input">
              <input type="text" name="username" id="username" size="15" value="<?php p($frm->username, true) ?>" />
            </div>
            <div class="clearer"><!-- --></div>
            <div class="form-label"><label for="password"><?php print_string("password") ?></label></div>
            <div class="form-input">
              <input type="password" name="password" id="password" size="15" value="" />
              <input type="submit" value="<?php print_string("login") ?>" />
              <input type="hidden" name="testcookies" value="1" />
            </div>
            <div class="clearer"><!-- --></div>
          </div>
        </form>
      </div>

<?php if ($CFG->guestloginbutton) {  ?>
      <div class="subcontent guestsub">
        <div class="desc">
          <?php print_string("someallowguest") ?>
        </div>
        <form action="index.php" method="post" id="guestlogin">
          <div class="guestform">
            <input type="hidden" name="username" value="guest" />
            <input type="hidden" name="password" value="guest" />
            <input type="hidden" name="testcookies" value="1" />
            <input type="submit" value="<?php print_string("loginguest") ?>" />
          </div>
        </form>
      </div>
<?php } ?>

      <div class="subcontent forgotsub">
        <div class="desc">
          <?php print_string("forgotten") ?>
        </div>
        <form action="forgot_password.php" method="post" id="changepassword">
          <div class="forgotform">
            <input type="hidden" name="sesskey" value="<?php echo sesskey() ?>" />
            <input type="submit" value="<?php print_string("passwordrecovery") ?>" />
          </div>
        </form>
      </div>
     </div>
<?php if ($show_instructions) { ?>
    <div class="signuppanel">
      <h2><?php print_string("firsttime") ?></h2>
      <div class="subcontent">
<?php     if (is_enabled_auth('none')) { // instructions override the rest for security reasons 
              print_string("loginstepsnone");
          } else if ($CFG->registerauth == 'email') {
              if (!empty($CFG->auth_instructions)) {
                  echo format_text($CFG->auth_instructions);
              } else {
                  print_string("loginsteps", "", "signup.php");
              } ?>
                 <div class="signupform">
                   <form action="signup.php" method="get" id="signup">
                   <div><input type="submit" value="<?php print_string("startsignup") ?>" /></div>
                   </form>
                 </div>
<?php     } else if (!empty($CFG->registerauth)) {
              echo format_text($CFG->auth_instructions); ?>
              <div class="signupform">
                <form action="signup.php" method="get" id="signup">
                <div><input type="submit" value="<?php print_string("startsignup") ?>" /></div>
                </form>
              </div>
<?php     } else {
              echo format_text($CFG->auth_instructions);
          } ?>
      </div>
    </div>
<?php } ?>
</div>

