<table cellspacing="0" cellpadding="5" border="0" class="boxaligncenter">

<tr valign="top">
    <td align="right">enrol_skillsoft_keyholderrole:</td>
    <td>
    <?php 
        $roles = get_all_roles();
        $rolenames = array();
        foreach ($roles as $id=>$role) {
            $rolenames[$id]=$role->name;
        }
        choose_from_menu($rolenames, 'enrol_skillsoft_keyholderrole', $frm->enrol_skillsoft_keyholderrole); 
    ?>
    </td>
    <td>
    <?php  print_string("keyholderrole", "enrol_skillsoft") ?>
    </td>
</tr>

<tr>
    <td align="right">enrol_skillsoft_showhint:</td>
    <td>
<?php
    $choices = array();
    $choices['0'] = get_string('no');
    $choices['1'] = get_string('yes');
    choose_from_menu ($choices, 'enrol_skillsoft_showhint', $frm->enrol_skillsoft_showhint, '');
?>
    </td><td>
    <?php  print_string('enrol_skillsoft_showhint', 'enrol_skillsoft') ?>
    </td>
</tr>

<tr>
    <td align="right">enrol_skillsoft_usepasswordpolicy:</td>
    <td>
<?php
    $choices = array();
    $choices['0'] = get_string('no');
    $choices['1'] = get_string('yes');
    choose_from_menu ($choices, 'enrol_skillsoft_usepasswordpolicy', $frm->enrol_skillsoft_usepasswordpolicy, '');
?>
    </td><td>
    <?php  print_string('enrol_skillsoft_usepasswordpolicy', 'enrol_skillsoft') ?>
    </td>
</tr>

<tr>
    <td align="right">enrol_skillsoft_requirekey:</td>
    <td>
<?php
    $choices = array();
    $choices['0'] = get_string('no');
    $choices['1'] = get_string('yes');
    choose_from_menu ($choices, 'enrol_skillsoft_requirekey', $frm->enrol_skillsoft_requirekey, '');
?>
    </td><td>
    <?php  print_string('enrol_skillsoft_requirekey', 'enrol_skillsoft') ?>
    </td>
</tr>


</table>
