
.clear{
	clear:both;
}

#main-container{
	width:750px;
	margin:30px auto;
}

#form-container{
	background-color:#f5f5f5;
	padding:15px;
	
	-moz-border-radius:12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius:12px;
}

td.contactus{
	white-space:nowrap;
}



h1.contactus{
	color:#0B2161;
	font-size:24px;
	font-weight:normal;
	text-transform:uppercase;
	margin-bottom:5px;
}

h2.contactus{
	font-weight:normal;
	font-size:12px;
	
	
	color:#2E64FE;
	margin-bottom:15px;
	
	border-bottom:1px solid #eeeeee;
	margin-bottom:15px;
	padding-bottom:10px;
}

label.contactus{
	text-transform:uppercase;
	font-size:10px;
	font-family:Tahoma,Arial,Sans-serif;
}

textarea.contactus{
	color:#404040;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}



td.contactus > button{
	text-indent:8px;
}

.error{
	background-color:#AB0000;
	color:white;
	font-size:10px;
	font-weight:bold;
	margin-top:10px;
	padding:10px;
	text-transform:uppercase;
	width:240px;
}

#loading{
	position:relative;
	bottom:9px;
	visibility:hidden;
}

.tutorial-info{
	color:white;
	text-align:center;
	padding:10px;
	margin-top:10px;
}
