<h1>Scarica file utenti</h1>
<p>Questa funzione genera un file contenente <b>tutti</b> gli utenti del sito in formato CSV (testo, con separatore).</p>

<p>Il file generato può essere utilizzato in 
"Caricamento utenti da file", per aggiornare i dati degli utenti o iscriverli ai corsi.</p> 

<p>E' possibile scegliere il carattere separatore di campi da usare.</p>

<p>Scegliendo l'opzione "Numero massimo di campi..." diversa di zero, vengono incluse le colonne <code>course1</code>...
e <code>role1</code>...<br />
Le colonne <code>course</code> conterranno il <em>nome breve</em> del Corso, mentre le colonne <code>role</code> 
conterranno il <em>nome breve</em> del Ruolo che l'utente ha in quel corso.</p>

<p>Se ogni utente partecipa a molti corsi, selezionre un "Numero massimo di campi..." alto.</p>

<p>Questa esportazione utenti non include le colonne <code>group</code>, utilizzante nell'upload.</p>
