<p align="center"><b>Generazione False-Mail</b></p>
<p>Se l'utente non ha un indirizzo e-mail, inserire nella colonna <code>email</code>
la stringa definita per "nessuna mail".<br>
Verrà generato un finto indirizzo e la mail verrà disabilitata, in modo 
che Moodle non invii nessun messaggio a questo indirizzo.</p>
<p>
Il falso indirizzo generato utilizza il dominio definito da "Finto dominio per le false mail".<br />
E' importante che questo indirizzo non corrisponda a nessun dominio realmente esistente (es. il dominio <code>NOMAIL.xx</code> non esiste).  
</p>
