<p align="center"><b>Separatore dei campi</b></p>
<p>Scegliere il separatore dei campi utilizzato nel file.<br>
Attualmente sono supportati i seguenti separatori:
<ul>
  <li>, (virgola)</li>
  <li>; (punto-e-virgola)</li>
  <li>| (pipe)</li>
  <li>Carattere tabulazione</li>
</ul>
Se si seleziona un separatore diverso da quello utilizzato nel file, si avranno degli errori.</p>

<p>Se il carattere separatore appare all'interno di un campo di testo del file, deve essere codificato nel seguente modo:
<ul>
  <li>, --&gt; <code>&amp;#44</code></li>
  <li>; --&gt; <code>&amp;#59</code></li>
  <li>| --&gt; <code>&amp;#124</code></li>
  <li>tab --&gt; <code>&amp;#11</code></li>
</ul>
<b>Nota Bene:</b> solo il carattere utilizzato come separatore deve essere codificato.  
</p>