<p align="center"><b>Codifica Caratteri nel file CSV</b></p>
<p>Scegli la codifica dei caratteri nel file CSV.<br />
Sono supportate queste codifiche:<ul>
  <li>UTF-8 (default)</li>
  <li>Latin - ISO-8859-1</li>
</ul>
<p>La codifica da scegliere dipende dal programma utilizzato per generare il file CSV (per l'upload) 
o che si intende usare per aprire il file (nel caso del download).
<br /><br />
Tipicamente le versioni non recentissime di foglio elettronico in versione Italiana
utilizzano Latin, mentre quelle più recenti UTF-8, ma non pò essere considerata una regola.<br />
Alcuni fogli elettronici permettono di scegliere la codifica dei caratteri, altri no.</p>

<p>Se non sei sicuro della codifica da usare, fai delle prove con dei nomi che 
contengono lettere accentate ("à", "ò", ecc...) e controlla se nell'upload o nel download
sono riportati correttamente: <b>se le accentante rimangono la codifica è corretta</b>.
</p>

<p>Se sei assolutamente certo che nei dati non possano esistere lettere accentate o altri caratteri speciali,
puoi scegliere qualunque codifica.<br />
<b>Attenzione: se è presente anche solo una lettera accentata, questa verrà riportata in maniera "strana" o troncata.</b></p>