<p align="center"><b>Numero massimo di campi <code>course</code>, <code>type</code>, <code>role</code> e <code>group</code></b></p>
<p>Numero massimo di colonne <code>course</code>, <code>type</code>, <code>role</code> e <code>group</code>
che possono essere presenti nel file.<br />
Ad esempio se viene selezionato <b>5</b> possono essere presenti i campi da <code>course1</code> a <code>course5</code>,
i campi da <code>type1</code> a <code>type5</code> e così via...</p>
<p>Per dettagli sull'utilizzo di questi campi vedi l'help generale della pagina.</p>