<h1>Caricamento utenti da file</h1>
<p>Utilizzare questa funzionalità solo quando non è possibile (o non è pratico) gestire gli utenti 
uno ad uno, tramite il modulo di gestione utenti.<br>
Per l'iscrizione di molti utenti ad un corso, notare che dalla pagina <b>Elenco Utenti</b> 
è possibile iscrivere e disiscrivere molti utenti con una sola operazione</p>

<p>Se si sceglie comunque di caricare o modificare molti utenti tramite file, è importante leggere attentamente le indicazioni di seguito.<br />
Un file non corretto potrebbe danneggiare i dati degli utenti già registrati.<p>
</p>

<p>Il file deve avere il seguente formato:
<ul>
	<li>Il file deve essere in <b>formato testo con separatore</b> (normalmente chiamanti CSV)</li>
	<li>I campi devono essere separati tra loro dal carattere scelto 
		nell'opzione "Carattere separatore dei campi".</li>
	<li>La <b>prima riga</b> del file deve contenere i <b>nomi dei campi</b>, 
		scritti esattamente come riportati più avanti (tutti minuscoli)!</li>
	<li>Le righe successive devono contenere i dati degli utenti, 
		<b>un utente per riga</b>.</li>
	<li>Eventuali evenienze del carattere separatore all'interno dei campi, 
		deve essere codificato nel seguente modo:
		<ul>
			<li>, --&gt; <code>&amp;#44</code></li>
			<li>; --&gt; <code>&amp;#59</code></li>
			<li>| --&gt; <code>&amp;#124</code></li>
			<li>tab --&gt; <code>&amp;#11</code></li>
		</ul>
		Solo il carattere separatore utilizzato deve essere codificato. Gli 
		altri caratteri devono essere riportati normalmente.
			
</ul>
</p>
	
<h2>Campi del file</h2>
 
	<h3>Campi obbligatori</h3>
	  <ul>
	     <li><code><b>username</b></code> Nome Utente<br />
			Lo Username deve essere <b>unico</b>. Non può esistere un altro utente
			con lo stesso username.	     
	     </li> 
	     <li><code><b>password</b></code><br/>
	     	Obbligatorio o opzionale a seconda 
	     	dell'opzione scelta in "Gestione del campo password"
	     	(vedi <a name="#pwdgeneration">Generazione automatica password</a>) 
	     	</li>
	     <li><code><b>email</b></code> Indirizzo mail<br/>
			Deve essere un indirizzo valido e deve essere <b>unico!</b><br /> 
			Oppure può contenere la stringa per "nessuna mail" (vedi <a href="#fakemail">generazione false mail</a>)
		 </li>
	     <li><code><b>firstname</b></code> Nome</li>
	     <li><code><b>lastname</b></code> Cognome</li>
	  </ul>
	</li>
	
	<h3>Campi default </h3>
	Questi campi sono opzionali. Se non speficati, il valore viene 
	preso da quello del primo Amministratore del sito.
		<ul>
			<li><code><b>mnethostid</b></code> ID del nodo MNET</li>
		    <li><code><b>institution</b></code> Istituzione</li>
		    <li><code><b>department</b></code> Dipartimento</li>
		    <li><code><b>city</b></code> Città</li>
		    <li><code><b>country</b></code> Nazione<br/>
		    	Utilizzare il codice 
		    	ISO della nazione a due caratteri. 
		    	Ad esempio <code>IT</code> per Italia (MAIUSCOLO!).</li>
		    <li><code><b>lang</b></code> Lingua<br/>
		    	Utilizzare la codifica <code><i>lingua</i>_<i>enconding</i></code>.<br/>
		    	Ad esempio <code>it_utf8</code> per l'italiano (minuscolo!).
		    </li>
		    <li><code><b>auth</b></code> Plugin di autenticazione</li>
		    <li><code><b>timezone</b></code></li>
		</ul>
	</li>
	
	<h3>Campi facoltativi</h3>
	  <ul>
	    <li><code><b>idnumber</b></code> Numero di Matricola unico</li>
	    <li><code><b>phone1</b></code> Telefono #1</li>
	    <li><code><b>phone2</b></code> Telefono #2</li>
	    <li><code><b>address</b></code> Indirizzo</li>
	    <li><code><b>url</b></code> URL Sito web</li>
	    <li><code><b>description</b></code> Descrizione</li>
	    <li><code><b>icq</b></code>, <code><b>skype</b></code>, 
	    	<code><b>yahoo</b></code>, <code><b>aim</b></code> 
	    	e <code><b>msn</b></code>: id dei vari IM 
	    </li>
	  </ul>
	  
	<h3>Campo speciali (opzionali)</h3>
	  <ul>
	    <li><code><b>oldusername</b></code> Username precedente.<br/>
	    	Utilizzato se le opzioni "Aggiornare registrazioni esistenti" e 
	    	"Permettere di rinominare" sono entrambe <b>Sì</b><br />
	    	Identifica l'utente, già presente in Moodle, al quale cambiare lo username.	 
	    	(vedi <a href="#userupdate">Agggiornamento dati degli utenti</a>)   
	    </li>
	    <li><code><b>emailstop</b></code> 0=E-mail abilitata, 1=E-mail disabilitata (<b>1</b> indica <b>disabilitata</b>!)</li>
	    <li><code><b>mailformat</b></code> Mail formato 0=testo o 1=HTML</li>
	    <li><code><b>maildisplay</b></code> 0=Non mostrare indirizzo mail, 
	    		1=Mostra indirizzo, 2=Mostra indirizzo solo agli altri membri del corso</li>
	    <li><code><b>htmleditor</b></code> 1|0=Usa o non usa Editor HTML</li>
	    <li><code><b>autosubscribe</b></code> 1|0=Attiva o disattiva autoiscrizione ai formi, quando invia un post</li>
	    <li><code><b>tracforums</b></code> 1|0=Abilita o Disabilita il tracciamento dei messaggi letti nei forum</li>
	    <li><code><b>screenreader</b></code> 1|0=Abilita o Disabilita uso dello Screenreader</li>
	  </ul>
	    
	<h3>Campi per Assegnazione Ruoli/Iscrizione a Corsi (opzionali)</h3>
	  <ul>	    
	    <li>Campi <code><b>course1</b></code>..<code><b>course<i>N</i></b></code><br/> 
	       (fino al numero massimo definito dall'opzione "Numero massimo di campi...")<br />
	       <b>Nome breve</b> del corso al quale iscrivere l'utente. 
	       (Vedi <a href="#enrollment">Iscrizione ai Corsi</a>)
	     </li>
	     <li>Campi <code><b>role1</b></code>..<code><b>type<i>N</i></b></code><br/>
	       (fino al numero massimo definito dall'opzione "Numero massimo di campi...")<br />
 		   Nome breve del ruolo da assegnare.<br />
 		   <b>Attenzione: questo campo è diverso dal campo <code>role</code> usato nel upload standard. 
 		   Questo è il nome breve del ruolo, non l'ID</b>
	     </li>	     
	    <li>Campi <code><b>type1</b></code>..<code><b>type<i>N</i></b></code><br/> 
	       (fino al numero massimo definito dall'opzione "Numero massimo di campi...")<br />
	       Utilizzati per specificare il ruolo con il quale l'utente deve essere iscritto 
	       al corso corrispondente (<code>type2</code> corriponde a <code>course2</code>).<br/>
	       I ruoli sono: ruolo di default del corso, in genere Studente (=1), Docente (=2) o Docente non-editor (=3)<br />
	       Il campo <code>type</code> viene ignorato se è specificato <code>role</code>.<br />
	       Se né <code>type</code> né <code>role</code> sono specificati, viene assegnato il ruolo di default nel corso (in genere Studente).
	     </li>
	     <li>Campi <code><b>group1</b></code>..<code><b>group<i>N</i></b></code><br/> 
	       (fino al numero massimo definito dall'opzione "Numero massimo di campi..."<br />
	       Utilizzati per specificare il Gruppo nel quale l'utente deve essere inserito,
	       nel corso corrispondente.
	     </li>
	  </ul>
	
</p>


<a name="pwdgeneration"><h1>Generazione automatica password</h1></a>
<p>Se viene selezionata l'opzione "Gestione del campo password" = "<b>Creare password se necessario</b>"
è possibile omettere il campo password.<br />
Tutte le password mancanti verranno automaticamente generate ed inviate agli utenti 
entro alcuni minuti (alla prossima esecuzione del Cron).
</p>
<p>Ovviamente, per inviare la mail all'utente è indispensabile che sia stato inserito 
un indirizzo e-mail valido ;-)</p>


<a name="fakemail"><h1>Generazione false-mail per indirizzi mancanti</h1></a>
<p>L'indirizzo e-mail è obbligatorio.<br />
Se un utente non ha nessun indirizzo mail (!) oppure se il suo indirizzo non è noto al 
momento del caricamento, inserire nel campo <code>email</code> la stringa definita 
in "Stringa per 'nessuna mail'" (default: "<code>NOMAIL</code>").</p>
<p>In questo caso verrà generato un falso indirizzo e-mail, utilizzando il dominio finto 
specificato nell'opzione "Finto dominio per false-mail" e <b>l'indirizzo e-mail dell'utente 
sarà disabilitato</b> in Moodle, in modo che non sia inviata nessuna mail a questo indirizzo finto. 
</p>


<a name="enrollment"><h1>Iscrizione ai Corsi</h1></a>
<p>Le colonne <code>course..</code>, <code>type..</code>, <code>role..</code> e <code>group..</code> permettono di 
iscrivere gli utenti ad uno o più corsi, specificandone anche il ruolo.</p>

<p>I corsi sono identificati in base al <b>Nome breve</b> del corso, che deve essere scritto in 
maniera esatta (comprese maiuscole e minuscole)!</p>

<p>I Ruolo sono identificati in base al <b>Nome breve</b> del Ruolo.</p>

<p>Anche se si sceglie di non aggiornare gli utenti (default), le colonne <code>course..</code>,
<code>type..</code> e <code>group..</code> vengono comunque usate per iscrivere l'utente 
(identificato dallo Username specificato) ai corsi senza modificarne i dati</p>



<a name="userupdate"><h1>Aggiornamento dati degli utenti</h1></a>
<p>Per default, il caricamento utenti da file genera sempre nuovi utenti (o iscrive utenti già esistenti a Corsi).<br />
Se una riga del file contiene uno Username già esistente, la riga viene saltata, a meno che 
l'opzione "Aggiornare registrazioni esistenti" sia impostata a <b>Sì</b>. In questo caso 
i dati dell'utente vengono sovrascritti con i dati presenti nel file.</p>

<p>E' anche possibile modificare lo Username, impostando "Permettere di rinominare" a <b>Sì</b>.<br /> 
Inserire il vecchio username nel campo <code>oldusername</code> e il nuov in <code>username</code>.</p>

<p><b>Attenzione:</b> qualunque errore presente nel file utilizzato per aggiornare utenti 
esistenti potrebbe danneggiare i dati dell'utente!</p>


