<!-- Backup & Restore Control Panel -->
<tr align="left" valign=top>
  <?php 
    print '<td align="center"><img src="'.$CFG->pixpath.'/i/backup.gif" alt="backup" align="texttop" /></td>';
    print '<td><a href="'.$CFG->wwwroot.'/backup/backup.php?id='.$course->id.'">'.get_string("backup").'</a></td>';
  ?>
  <td><?php print_string('backupdesc', 'block_fn_my_menu');?></td>
</tr>
<tr>
  <?php 
    print '<td align="center"><img src="'.$CFG->pixpath.'/i/restore.gif"  alt="restore" align="texttop" /></td>';
    print '<td><a href="'.$CFG->wwwroot.'/files/index.php?id='.$course->id.'&wdir=/backupdata">'.get_string("restore").'</a></td>';
  ?>
  <td><?php print_string('restoredesc', 'block_fn_my_menu');?></td>
</tr>
<tr>
  <?php
    print '<td align="center"><img src="'.$CFG->pixpath.'/i/restore.gif"  alt="restore" align="texttop" /></td>'; 
    print '<td><a href="'.$CFG->wwwroot.'/course/import.php?id='.$course->id.'&wdir=/backupdata">'.get_string('importdata').'</a></td>';
  ?>      
  <td><?php print_string('activitybrdesc', 'block_fn_my_menu');?></td>
</tr>