<!-- This form fragment is used to set the review options -->

<td align="right">
  <table>
    <tr><td align="right"><b><?php print_string("reviewoptions", "quiz") ?>:</b></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td align="right"><?php print_string("reviewimmediately", "quiz") ?>:</td></tr>
    <tr><td align="right"><?php print_string("reviewopen", "quiz") ?>:</td></tr>
    <tr><td align="right"><?php print_string("reviewclosed", "quiz") ?>:</td></tr>
  </table>
</td>
<td align="left">
  <table>
    <tr valign="top">
      <td align="center"><?php print_string('responses', 'quiz') ?></td>
      <td align="center"><?php print_string('answers', 'quiz') ?></td>
      <td align="center"><?php print_string('feedback', 'quiz') ?></td>
      <td align="center"><?php print_string('generalfeedback', 'quiz') ?></td>
      <td align="center"><?php print_string('scores', 'quiz') ?></td>
      <td align="center"><?php print_string('overallfeedback', 'quiz') ?></td>
      <td align="center"><?php echo get_string('quizreport', 'report_openlearner') ?></td>
      <td>
        <?php helpbutton("review2", get_string("allowreview","quiz"), "quiz"); ?>
      </td>
    </tr>
    <tr>
      <td align="center">
        <input type="checkbox" name="responsesimmediately" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_RESPONSES & QUIZ_REVIEW_IMMEDIATELY) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="answersimmediately" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_ANSWERS & QUIZ_REVIEW_IMMEDIATELY) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="feedbackimmediately" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_FEEDBACK & QUIZ_REVIEW_IMMEDIATELY) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="generalfeedbackimmediately" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_GENERALFEEDBACK & QUIZ_REVIEW_IMMEDIATELY) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="scoreimmediately" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_SCORES & QUIZ_REVIEW_IMMEDIATELY) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="overallfeedbackimmediately" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_OVERALLFEEDBACK & QUIZ_REVIEW_IMMEDIATELY) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="openlearnermodeimmediately" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_OPENLEARNER & QUIZ_REVIEW_IMMEDIATELY) ? 'checked="checked"' : '' ?> />
      </td>
    </tr>
    <tr>
      <td align="center">
        <input type="checkbox" name="responsesopen" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_RESPONSES & QUIZ_REVIEW_OPEN) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="answersopen" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_ANSWERS & QUIZ_REVIEW_OPEN) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="feedbackopen" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_FEEDBACK & QUIZ_REVIEW_OPEN) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="generalfeedbackopen" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_GENERALFEEDBACK & QUIZ_REVIEW_OPEN) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="scoreopen" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_SCORES & QUIZ_REVIEW_OPEN) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="overallfeedbackopen" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_OVERALLFEEDBACK & QUIZ_REVIEW_OPEN) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="openlearnermodeopen" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_OPENLEARNER & QUIZ_REVIEW_OPEN) ? 'checked="checked"' : '' ?> />
      </td>
    </tr>
    <tr>
      <td align="center">
        <input type="checkbox" name="responsesclosed" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_RESPONSES & QUIZ_REVIEW_CLOSED) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="answersclosed" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_ANSWERS & QUIZ_REVIEW_CLOSED) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="feedbackclosed" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_FEEDBACK & QUIZ_REVIEW_CLOSED) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="generalfeedbackclosed" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_GENERALFEEDBACK & QUIZ_REVIEW_CLOSED) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="scoreclosed" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_SCORES & QUIZ_REVIEW_CLOSED) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="overallfeedbackclosed" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_OVERALLFEEDBACK & QUIZ_REVIEW_CLOSED) ? 'checked="checked"' : '' ?> />
      </td>
      <td align="center">
        <input type="checkbox" name="openlearnermodeclosed" value="Yes" <?php echo ($form->review & QUIZ_REVIEW_OPENLEARNER & QUIZ_REVIEW_CLOSED) ? 'checked="checked"' : '' ?> />
      </td>
    </tr>
  </table>
</td>



