<p>Una volta individuati i corsi, puoi associarli al Feedback usando la mappatura. Per selezionare i corsi usare CTRL select oppure MAIUSC select.</p>
<p>In qualsiasi momento potete eliminare l'associazione del Feedback ad un corso.</p>