<p>Per impostazione predefinita i feedback creati nella pagina principale di Moodle saranno disponibili in tutti i corsi che usano il Blocco Feedback. E' anche possibile visualizzare sempre il Blocco Feedback trasformandolo in Blocco Pinzato.</p>
<p>E' possibile limitare in quali corsi comparirà il Feedback mappando il Feedback solo su specifici corsi</p>