<img alt valign="middle" src="<?php echo $CFG->wwwroot?>/mod/feedback/icon.gif">&nbsp;<b><?php print_string('modulename', 'feedback');?></b>

<ul>
<p>
Con  il modulo Feedback si possono creare sondaggi personalizzati per gli utenti.
</p>
</ul>