<img alt valign="middle" src="<?php echo $CFG->wwwroot?>/mod/feedback/icon.gif">
   &nbsp;<b><?php print_string('preview', 'feedback');?></b>

<ul>
<p>
Nell'anteprima puoi modificare l'ordine di presentazione delle domande.
</p>
</ul>

