<p>E' possibile stabilire una data a partire dalla quale sarà possibile rispondere al Feedback.</p>
<p>Non sarà possibile rispondere al questionario prima della data indicata. Per non usare questa possibilità non selezionate la relativa casella di spunta.</p>