<p>E' possibile stabilire una data trascorsa la quale non sarà più possibile rispondere al Feedback.</p>
<p>Non sarà possibile rispondere al questionario dopo la data indicata. Per non usare questa possibilità non selezionate la relativa casella di spunta.</p>