.modalBackground {
            background-color:Gray;
            filter:alpha(opacity=70);
            opacity:0.7;
        }
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #336699;
	text-decoration: none;
	letter-spacing: normal;
	text-align:center;
	word-spacing: normal;
}
.heading {
	font-family: Tahoma;
	font-size: 20px;
	font-weight: normal;
	color: #4E4E4E;
	text-decoration: none;
	letter-spacing: normal;
	text-align: left;
	vertical-align: middle;
	word-spacing: normal;
	padding-right: 10px;
}
.border {
	border: 1px solid #cccccc;
}

.logo {
	padding-left: 10px;
	text-align: left;
	vertical-align: middle;
}
.date {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	padding-left: 10px;
	padding-right: 10px;
}
.left_nav {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #336699;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0E5EA;
}
.general_text {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}
.left_right_border {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #336699;
	border-left-color: #336699;
}
.normal_text {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.tahoma_b_blue_pad {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #336699;
	padding-left: 5px;
}
.top_input {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; WIDTH: 123px; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; size: 10px
}
.left_nav_link{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #336699;
	border-bottom-style: none;
	text-decoration: none;
}
.left_nav_link:hover{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	border-bottom-style: none;
	text-decoration:underline;
}
.text_link {

	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #336699;
	border-bottom-style: none;
	text-decoration: underline;
}
.text_link:hover {

	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	border-bottom-style: none;
	text-decoration: underline;
}
.comment_link {


	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #4E4E4E;
	border-bottom-style: none;
	text-decoration: underline;
}
.comment_link:hover {


	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #336699;
	border-bottom-style: none;
	text-decoration: underline;
}
.heading_2 {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #4E4E4E;
	text-decoration: none;
}
.text_area {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; WIDTH: 263px; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 110px; BACKGROUND-COLOR: #ffffff; size: 10px;
}
.txt_report {

	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; WIDTH: 102px; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; size: 10px;
}
.combo_report {

	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; WIDTH: 214px; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; size: 10px;
}
.combosmall_report {

	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; WIDTH: 102px; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; size: 10px;
}
.tahoma_b_blue {

	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #336699;
}

 A {
	COLOR: #000063; TEXT-DECORATION: none
}
A:hover
{
	text-decoration: underline;
}


.tahoma_blue {

	font-family: Tahoma;
	font-size: 11px;
	color: #336699;
}
.txt_change_password {


	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; WIDTH: 162px; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; size: 10px;
}
.padding20x10 {

	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
.left_right_border_GRAY {

	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.downborder {
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #CCCCCC;
	border-left: none;
}
.leftrightdownborder {

	border-top: none;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}
.tahoma_red {


	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #CC0000;
}
.tahoma_yellow {



	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #CC9900;
}
.tahoma_green {




	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #006600;
}
.left_admin 
{
	
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	border-bottom-style: none;
	text-decoration: none;
}
.left_admin:hover{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #336699;
	border-bottom-style: none;
	text-decoration:underline;
}

.pseudoTooltipStyle
{
 background-color:#99ff99;
 border-color: #3480a3;
 border-style:solid;
 border-width:2px;
 color:Black;
 display:none;
 font-family:Arial;
 font-size:12px;

}

.disable
    {
    	color:Black;
    	text-decoration:none;
    	font-family: Tahoma;
		font-size: 11px;
		font-weight: bold;
		border-bottom-style: none;
	
    }
    
.span1 
{

display:block;
position:relative;
margin:4px 1px;
border-width:1px 0;
border-style:solid;
text-decoration:none;
background-color:Maroon;
width:100px;
}

.div1 
{
width:100px;
display:block;
background-color:Maroon;
margin:0 -1px;
padding:2px 16px;
color:white;

}

.rnd1 {   
  background-color: #ADC2D6;
  border:solid 1 #3480a3; 
   
   height: 1px;   
 }   
 .rnd1_leftGrades {   
  background-color:Transparent ;   
   height: 1px;   
 }  
 .gv1 {   
   width: 100%;   
   border: 0px none;   
 }   
 .gv1 th {   
   background-color: #cc9900;   
 }   
.test
{
	background-color:Black ; 
	height: 0px;
}

.ContextMenuPanel 
            {
	           
	           
	             border: 1px solid #868686;
	            z-index: 1000;
	            background-repeat:repeat-y;
	            background-color :#FAFAFA;
	            background-position:0 0;
	            cursor: default;
	            padding: 1px 1px 0px 1px;
	            font-size: 11px;
	           
            }
            
.ContextMenuBreak
            {
	            margin:1px 1px 1px 32px;
	            padding:0;
	            height:1px;
	            overflow:hidden;
	            display:block;
	            border-top: 1px solid #C5C5C5;	
            }


a.ContextMenuItem
            {
	            margin: 1px 0 1px 0;
	            display: block;
	            color: #003399;
	            font-family:Tahoma;
	            font-size:11;
	            text-decoration: none;
	            cursor: pointer;	
	            padding: 4px 19px 4px 33px;
	            white-space: nowrap;
            }
 
a.ContextMenuItem-Selected
            {
	            font-weight: bold;
            }
 
a.ContextMenuItem:hover
            {
	            background-color: #FFE6A0;
	            color: #003399;
	            border: 1px solid #D2B47A;
	            padding: 3px 18px 3px 32px;
            }
    .cellborder
    {
		border-bottom-style :none; 
		border-bottom-width:0px;
		border-top-style :none; 
		border-top-width:0px;
    }
    
.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #336699;
	font-weight: bold;
}
.style2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
}
.alert {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #4E4E4E;
	text-decoration: none;
}
.style23 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; }
.bott-dot { border-bottom: 1px dotted #999999;}
.bott-right { border-right: 1px dotted #999999;}
.style25 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.style27 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; }
.style29 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }
.style31 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; }
.short {font-family: Arial, Helvetica, sans-serif; font-size: 2px; color: #333333; }

.GradeRole {
	font-family: Arial Narrow ;
	font-size: 11px;
	font-weight: bold;
	color: #4E4E4E;
	text-decoration: none;
}