<form id="assignform" method="post" action="">
<div>
<input type="hidden" name="previoussearch" value="<?php p($previoussearch) ?>" />
<input type="hidden" name="backtoallsessions" value="<?php p($backtoallsessions) ?>" />
<input type="hidden" name="sesskey" value="<?php p(sesskey()) ?>" />
  <table summary="" style="margin-left:auto;margin-right:auto" border="0" cellpadding="5" cellspacing="0">
    <tr>
      <td valign="top">
          <label for="removeselect"><?php print_string('existingusers', 'role', $existingcount); ?></label>
          <br />
          <select name="removeselect[]" size="20" id="removeselect" multiple="multiple"
                  onfocus="getElementById('assignform').add.disabled=true;
                           getElementById('assignform').remove.disabled=false;
                           getElementById('assignform').addselect.selectedIndex=-1;">

          <?php
            $i = 0;
            if ($existingcount > 0) {
                foreach ($existingusers as $existinguser) {
                    $fullname = fullname($existinguser, true);
                    echo "<option value=\"$existinguser->id\">".$fullname.", ".$existinguser->email."</option>\n";
                    $i++;
                }
            }
            if ($i==0) {
                echo '<option/>'; // empty select breaks xhtml strict
            }
          ?>

          </select>
          <br />
          <input type="checkbox" id="suppressemail" name="suppressemail" value="1" <?php echo $suppressemail ? 'checked="checked"' : '' ?> />
          <label for="suppressemail"><?php print_string('suppressemail', 'csr'); ?></label>
          <?php helpbutton('suppressemail', get_string('suppressemail', 'csr'), 'csr'); ?>
      </td>
      <td valign="top">
        <br />
        <?php check_theme_arrows(); ?>
        <p class="arrow_button">
            <input name="add" id="add" type="submit" value="<?php echo '&nbsp;'.$THEME->larrow.' &nbsp; &nbsp; '.get_string('add'); ?>" title="<?php print_string('add'); ?>" />
            <br />
            <input name="remove" id="remove" type="submit" value="<?php echo '&nbsp; '.$THEME->rarrow.' &nbsp; &nbsp; '.get_string('remove'); ?>" title="<?php print_string('remove'); ?>" />
        </p>
      </td>
      <td valign="top">
          <label for="addselect"><?php print_string('potentialusers', 'role', $usercount); ?></label>
          <br />
          <select name="addselect[]" size="20" id="addselect" multiple="multiple"
                  onfocus="getElementById('assignform').add.disabled=false;
                           getElementById('assignform').remove.disabled=true;
                           getElementById('assignform').removeselect.selectedIndex=-1;">
          <?php
            $i=0;
            if (!empty($searchtext)) {
                echo "<optgroup label=\"$strsearchresults (" . $availableusers->_numOfRows . ")\">\n";
                while ($user = rs_fetch_next_record($availableusers)) {
                    $fullname = fullname($user, true);
                    echo "<option value=\"$user->id\">".$fullname.", ".$user->email."</option>\n";
                    $i++;
                }
                echo "</optgroup>\n";

            } else {
                if ($usercount > MAX_USERS_PER_PAGE) {
                    echo '<optgroup label="'.get_string('toomanytoshow').'"><option></option></optgroup>'."\n"
                          .'<optgroup label="'.get_string('trysearching').'"><option></option></optgroup>'."\n";
                } else {
                    while ($user = rs_fetch_next_record($availableusers)) {
                        $fullname = fullname($user, true);
                        echo "<option value=\"$user->id\">".$fullname.", ".$user->email."</option>\n";
                        $i++;
                    }
                }
            }
            if ($i==0) {
                echo '<option/>'; // empty select breaks xhtml strict
            }
          ?>
         </select>
         <br />
         <label for="searchtext" class="accesshide"><?php p($strsearch) ?></label>
         <input type="text" name="searchtext" id="searchtext" size="30" value="<?php p($searchtext, true) ?>"
                  onfocus ="getElementById('assignform').add.disabled=true;
                            getElementById('assignform').remove.disabled=true;
                            getElementById('assignform').removeselect.selectedIndex=-1;
                            getElementById('assignform').addselect.selectedIndex=-1;"
                  onkeydown = "var keyCode = event.which ? event.which : event.keyCode;
                               if (keyCode == 13) {
                                    getElementById('assignform').previoussearch.value=1;
                                    getElementById('assignform').submit();
                               } " />
         <input name="search" id="search" type="submit" value="<?php p($strsearch) ?>" />
         <?php
              if (!empty($searchtext)) {
                  echo '<input name="showall" id="showall" type="submit" value="'.$strshowall.'" />'."\n";
              }
         ?>
       </td>
    </tr>
    </table>

    <?php

        if ($nonattendees) {
            echo '<br />';
            print_heading(get_string('unapprovedrequests', 'csr').' ('.$nonattendees.')');
            print_table($table);
        }

    ?>

</div>
</form>
