<?php 
include_once realpath( dirname( __FILE__ ).DIRECTORY_SEPARATOR ).DIRECTORY_SEPARATOR."common.php";
include_once LIB_DIR .DIRECTORY_SEPARATOR."AbstractSMS.php";
include_once LIB_DIR.DIRECTORY_SEPARATOR."SMS.php";
?>
<div>
    <?php echo get_string( 'global_configuration_comment', 'block_moodle_notifications' ); ?>
</div>
<br />
<div>
    <input type="hidden" name="block_moodle_notifications_email_channel" value="0" /> 
    <input type="checkbox" name="block_moodle_notifications_email_channel" value="1"
	 	<?php if( !empty($CFG->block_moodle_notifications_email_channel) ) { echo 'checked="checked"'; } ?> 
	/> 
	&nbsp;<?php echo get_string( 'email', 'block_moodle_notifications' ); ?>
</div>

<div>
    <input type="hidden" name="block_moodle_notifications_sms_channel" value="0" /> 
    <input type="checkbox" name="block_moodle_notifications_sms_channel" value="1"
	 	<?php if( !empty($CFG->block_moodle_notifications_sms_channel) ) { echo 'checked="checked"'; } ?> 
	 	<?php if( !class_exists('SMS') ) { echo 'disabled="disabled"'; } ?> 
	/> 
	&nbsp;<?php echo get_string( 'sms', 'block_moodle_notifications' ); ?>
	<?php if( !class_exists('SMS') ) { echo '<br />'.get_string('sms_class_not_implemented', 'block_moodle_notifications').'<br /><br />'; } ?> 
</div>

<div>
    <input type="hidden" name="block_moodle_notifications_rss_channel" value="0" /> 
    <input type="checkbox" name="block_moodle_notifications_rss_channel" value="1" 
	 	<?php if( !empty($CFG->block_moodle_notifications_rss_channel) ) { echo 'checked="checked"'; } ?> 
	/> 
	&nbsp;<?php echo get_string( 'rss', 'block_moodle_notifications' ); ?>
</div>
<br />
<div>
        &nbsp;<?php echo get_string( 'block_moodle_notifications_frequency', 'block_moodle_notifications' ); ?>&nbsp;
<select name="block_moodle_notifications_frequency">
	<?php
		global $CFG;
		for( $i=1; $i < 25; ++$i ) {
			if( $i == $CFG->block_moodle_notifications_frequency ) {
				echo "<option selected='selected'>$i</option>";
			} else {
				echo "<option>$i</option>";
			}
		}
	?>
</select>
        &nbsp;<?php echo get_string( 'hours', 'block_moodle_notifications' ); ?>.
		&nbsp;<?php echo get_string( 'block_moodle_notifications_frequency_comment', 'block_moodle_notifications' ); ?>
</div>
<br />
<div>
    <?php echo get_string( 'global_configuration_presets_comment', 'block_moodle_notifications' ); ?>
</div>
<br />
<div>
    <input type="hidden" name="block_moodle_notifications_email_notification_preset" value="0" /> 
    <input type="checkbox" name="block_moodle_notifications_email_notification_preset" value="1"
	 	<?php if( !empty($CFG->block_moodle_notifications_email_notification_preset) ) { echo 'checked="checked"'; } ?> 
	/> 
	&nbsp;<?php echo get_string( 'email_notification_preset', 'block_moodle_notifications' ); ?>
</div>
<div>
    <input type="hidden" name="block_moodle_notifications_sms_notification_preset" value="0" /> 
    <input type="checkbox" name="block_moodle_notifications_sms_notification_preset" value="1"
	 	<?php if( !empty($CFG->block_moodle_notifications_sms_notification_preset) ) { echo 'checked="checked"'; } ?> 
	/> 
	&nbsp;<?php echo get_string( 'sms_notification_preset', 'block_moodle_notifications' ); ?>
</div>

<div>
    <input type="submit" value="<?php print_string( 'savechanges' ) ?>" />
</div>
