<?php 
include_once realpath(dirname( __FILE__ ).DIRECTORY_SEPARATOR).DIRECTORY_SEPARATOR."common.php";
include_once LIB_DIR.DIRECTORY_SEPARATOR."AbstractSMS.php";
include_once LIB_DIR.DIRECTORY_SEPARATOR."SMS.php";
?>
<div>
    <?php echo get_string('configuration_comment', 'block_moodle_notifications'); ?>
</div>
<br />
<?php 
	global $CFG;
	global $COURSE;
	$Course = new Course();
	$course_notification_setting = $Course->get_registration($COURSE->id);	
?>
<div>
    <input type="checkbox" name="notify_by_email" value="1" 
		<?php if ( isset($course_notification_setting->notify_by_email) and $course_notification_setting->notify_by_email == 1 ) echo 'checked="checked"'; ?>	
		<?php if ( $CFG->block_moodle_notifications_email_channel != 1 ) echo 'disabled="disabled"'; ?>
	/>
	&nbsp;<?php echo get_string('notify_by_email', 'block_moodle_notifications'); ?>
</div>

<div>
    <input type="checkbox" name="notify_by_sms" value="1" 
		<?php if ( isset($course_notification_setting->notify_by_sms) and $course_notification_setting->notify_by_sms == 1 ) echo 'checked="checked"'; ?>	
		<?php if ( !class_exists('SMS') or $CFG->block_moodle_notifications_sms_channel != 1 ) echo 'disabled="disabled"'; ?>	
	/>
	&nbsp;<?php echo get_string('notify_by_sms', 'block_moodle_notifications'); ?>
</div>

<div>
	<input type="checkbox" name="notify_by_rss" value="1"
	<?php if ( isset($course_notification_setting->notify_by_rss) and $course_notification_setting->notify_by_rss == 1 ) echo 'checked="checked"';  ?>
	<?php if ( $CFG->block_moodle_notifications_rss_channel != 1 ) echo 'disabled="disabled"'; ?>
	 />
	 &nbsp;<?php echo get_string('notify_by_rss', 'block_moodle_notifications'); ?>
</div>
<br />
<?php if( $CFG->block_moodle_notifications_email_channel == 1 or $CFG->block_moodle_notifications_sms_channel == 1) { ?>
<div>
	&nbsp;<?php echo get_string('notification_frequency', 'block_moodle_notifications'); ?>&nbsp;
	<select name="notification_frequency">
	<?php
		for($i=1; $i < 25; ++$i){
			if($course_notification_setting->notification_frequency / 3600 == $i)
				echo "<option selected='selected'>$i</option>";
			else
				echo "<option>$i</option>";
		}
	?>
	</select>
        &nbsp;<?php echo get_string('hours', 'block_moodle_notifications'); ?>
</div>
<br />

<div>
    <?php echo get_string( 'course_configuration_presets_comment', 'block_moodle_notifications' ); ?>
</div>
<br />
<div>
    <input type="checkbox" name="email_notification_preset" value="1" 
		<?php if ( isset($course_notification_setting->email_notification_preset) and $course_notification_setting->email_notification_preset == 1 ) echo 'checked="checked"'; ?>	
		<?php if ( $CFG->block_moodle_notifications_email_channel != 1 ) echo 'disabled="disabled"'; ?>
	/>
	&nbsp;<?php echo get_string('email_notification_preset', 'block_moodle_notifications'); ?>
</div>
<div>
    <input type="checkbox" name="sms_notification_preset" value="1" 
		<?php if ( isset($course_notification_setting->sms_notification_preset) and $course_notification_setting->sms_notification_preset == 1 ) echo 'checked="checked"'; ?>	
		<?php if ( $CFG->block_moodle_notifications_sms_channel != 1 ) echo 'disabled="disabled"'; ?>
	/>
	&nbsp;<?php echo get_string('sms_notification_preset', 'block_moodle_notifications'); ?>
</div>
<br />
<br />
<div>
    <input type="submit" value="<?php print_string('savechanges') ?>" />
</div>
<?php } ?>
