
</div> <!-- end div containerContent -->
<!-- START OF FOOTER -->
<!-- Start Footer -->
	<div class="footerSite">

		<div class="footerMain">
		 <!--   <div class="footer1">
		    	<b class="footerTitle">Resources</b><br/>
		    	<a href="http://www.topsharepoint.com/about">About Us</a><br/>
		        <a href="#">Jobs</a><br/>
		        <a href="#">Contact Us</a><br/>
		        <a href="#">Feedback</a><br/>
		        <a href="#">Site Map</a>
		    </div> -->
		    <div class="footer2">
		    	<b class="footerTitle">Browsers</b><br/>
				<img src="<?php echo $CFG->themewww .'/'. current_theme() ?>/images/footer/footer_browser.png" alt="Compactable Browsers" border="0" />
	
		    </div>
		    <div class="footer3" >
		    	<b class="footerTitle">About CATALYS</b><br/>
		    	<p class="footerText">Regardless of your location or business unit, this is your single source for accessing all training related activities in NTT DATA. Using the CATALYS, employees can access online, self-paced learning via Moodle (Modular Object – Oriented Dynamic Learning Environment), the “engine” that runs the CATALYS. Through the CATALYS, courses from Skillsoft, GEMs, the NTT DATA Learning and Certification Institute (NLCI) and our Instructor Led Training programs can be accessed. All tracking is centralized here so that employees can clearly see their completion records.</p>
		    </div>
		    <div class="footer4">
		    </div>
		    <div class="footer5">
		    	<a href="/"><img src="<?php echo $CFG->themewww .'/'. current_theme() ?>/images/footer/footer_logo.png" alt="Your Logo" border="0" /></a>
		    </div>
		    <div class="bFooter">
				<p>
				&#169; NTT DATA - All Rights Reserved
				</p>
			</div>
		</div>
	
	</div>
	<!-- End Footer -->

<?php if (!empty($performanceinfo)) {
          echo $performanceinfo;
} ?>

</div>

</body>
</html>
