.menum{
  
    height:42px;
   
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;

}
.itemm{
    position:relative;
background-color:#ffffff;
    float:right;
    width:32px;
    margin:0px 5px;
    height:32px;
    border:1px solid #ddd;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    border-radius:30px;
    -moz-box-shadow:1px 1px 3px #555;
    -webkit-box-shadow:1px 1px 3px #555;
    box-shadow:1px 1px 3px #555;
    cursor:pointer;
    overflow:hidden;

}

.linkm{
    left:2px;
    top:2px;
    position:absolute;
    width:28px;
    height:28px;
	
}
.icon_homem{
    background:transparent url(./images/home.png) no-repeat top left;
}
.icon_mailm{
    background:transparent url(./images/mail.png) no-repeat top left;
}
.icon_helpm{
    background:transparent url(./images/help.png) no-repeat top left;
}
.icon_findm{
    background:transparent url(./images/find.png) no-repeat top left;
}
.icon_photosm{
    background:transparent url(./images/photos.png) no-repeat top left;
}
.item_contentm{

    position:absolute;
    height:52px;
    width:220px;
    overflow:hidden;
    left:36px;
    top:7px;
    background:transparent;
    display:none;

}

.item_contentm a{
    background-color:transparent;
    float:left;
    margin-right:7px;
    margin-top:3px;
	color:#0b965b;    
    text-shadow: 1px 1px 1px #fff;
    text-decoration:none;
    font-size:12px;

}
.item_contentm a:hover{
    color:#20E319;

}
.item_contentm p {
    background-color:transparent;
    display:none;
	margin:0;
}


.clear{ clear: both;}


.wrapper{ margin: 0; padding: 0;}
.container{ margin: 0px auto;}



/*
* Navigation
*/

	.f-nav{ z-index: 9999; position: fixed; top: 0; width: 100%;} /* this make our menu float top */
	

	.nav ul { list-style: none; }
	.nav ul li{float: left; margin-top: 6px; padding: 6px; border-right: 1px solid #ACACAC;}
	.nav ul li:first-child{ padding-left: 0;}
	.nav ul li a { }


