
<table border=0 cellspacing=0 cellpadding=0 width=374
 style='width:240.75pt;border-collapse:collapse;border:none'>
 <tr >
  <td  style='padding:0in 1.4pt 0in 5.4pt;height:45.75pt'>
  <img width=36 height=36
  src="profile%20image_files/image002.jpg">
  </td>
  <td  style='padding:0in 1.4pt 0in 5.4pt;height:45.75pt'>
  <img width=38 height=36
  src="profile%20image_files/image004.jpg">
  </td>
  <td width=200 style='width:196.3pt;padding:0in 1.4pt 0in 5.4pt;height:45.75pt'>
  <p  align=center style='
  text-align:center;line-height:normal'><span style='font-size:8.0pt;
  font-family:"Comic Sans MS";mso-bidi-font-family:Arial;color:#17375E'>You have </span><span
  style='font-size:8.0pt;font-family:"Comic Sans MS"'>9.8</span><span
  style='font-size:8.0pt;font-family:"Comic Sans MS";color:#17375E'> training hours
  for </span><span style='font-size:8.0pt;font-family:"Comic Sans MS";color:#E46C0A'>2013 - 2014.</span><span style='font-size:8.0pt;font-family:"Comic Sans MS"'><br>
  </span><span style='font-size:8.0pt;font-family:"Comic Sans MS";color:#17375E'>For your </span><span
  style='font-size:8.0pt;font-family:"Comic Sans MS";color:#558ED5'>grade
  9</span><span style='font-size:8.0pt;font-family:"Comic Sans MS";color:#17375E'> you need </span><span
  style='font-size:8.0pt;font-family:"Comic Sans MS";color:#E46C0A'>20</span><span
  style='font-size:8.0pt;font-family:"Comic Sans MS";color:#558ED5'>
  training hours.</span></p>
  </td>
 </tr>
</table>
