<script src="http://code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript" src="http://s2b22187/theme/aardvark-svc/jquery.treeview.js"></script>
 
	<script type="text/javascript">
		$(function() {
			$("#KLCI1").treeview({
				collapsed: true,
				animated: "medium",
				persist: "location",
				unique: true
			});
		})
		
	</script>
	<script type="text/javascript">
		$(function() {
			$("#KLCI").treeview({
				collapsed: true,
				animated: "fast",
				persist: "location",
				unique: true
				 
			});
		})
		
	</script>
 

				<ul id="KLCI" class="filetree">
		<li class="closed"><span class="folder">ADM</span>
			<ul>
				<li class="closed"><span class="Jfolder">Java</span>
					<ul>
					<li class="closed"><span class="Jfolder">Java Developer Certification</span></li>
					<ul>
					<li class="closed"><span class="Jfolder"> Level 2</span></li>
					<li class="closed"><span class="Jfolder"> Level 3</span></li>
					</ul>
					<li class="closed"><span class="Jfolder"> Advanced Java Developer Certification</span></li>
					<ul>
					<li class="closed"><span class="Jfolder"> Level 1</span></li>
					<li class="closed"><span class="Jfolder"> Level 2</span></li>
					<li class="closed"><span class="Jfolder"> Level 3</span></li>
					</ul>
					<li class="closed"><span class="Jfolder"> Junior Designer Certification</span></li>
					<ul>
					<li class="closed"><span class="Jfolder"> Level 1</span></li>
					<li class="closed"><span class="Jfolder"> Level 2</span></li>
					<li class="closed"><span class="Jfolder"> Level 3</span></li>
					</ul>
					<li>
					<span></span></li>
					</ul>
				</li>
				<li class="closed"><span class="Nfolder">.Net</span>
					<ul>
					<li class="closed"><span class="Nfolder"> .Net Developer Certification</span></li>
					<ul>
					<li class="closed"><span class="Nfolder"> Level 2</span></li>
					<li class="closed"><span class="Nfolder"> Level 3</span></li>
					</ul>
					<li class="closed"><span class="Nfolder"> Advanced.Net Developer Certification</span></li>
					<ul>
					<li class="closed"><span class="Nfolder"> Level 1</span></li>
					<li class="closed"><span class="Nfolder"> Level 2</span></li>
					<li class="closed"><span class="Nfolder"> Level 3</span></li>
					</ul>
					<li class="closed"><span class="Nfolder"> Junior Designer Certification</span></li>
					<ul>
					<li class="closed"><span class="Nfolder"> Level 1</span></li>
					<li class="closed"><span class="Nfolder"> Level 2</span></li>
					<li class="closed"><span class="Nfolder"> Level 3</span></li>
					</ul>
					<li>
					<span></span></li>
					</ul>
				</li>
				<li> <span></span></li>
			</ul>
		
		</li>
		
		<li class="closed"><span class="folder">EAS</span>
			<ul>
				<li class="closed"><span class="folder">Oracle Certification</span></li>
				<li class="closed"><span class="folder">SAP Certification</span></li>
				<li class="closed"><span class="folder">People Soft Certification</span></li>
			</ul>
		</li>
		<li class="closed"><span class="folder">Project Management</span>
			<ul>
				<li class="closed"><span class="folder">Project Management Certification</span></li>
			</ul>
		</li>
		<li class="closed"><span class="folder">ADM Testing</span>
			<ul>
				<li class="closed"><span class="folder">Keane Certified Test Manager</span></li>
				<li class="closed"><span class="folder">Keane Certified Test Professional</span></li>
			</ul>
		</li>
		<li> <span></span></li>
		
		</ul>
				
    