<table cellpadding="9" cellspacing="0">

 <tr valign="top">
  <td align="right"><p>
    <?php print_string('configtitle', 'block_dynamic_course_list'); ?>:</p>
  </td>
  <td>
    <input type="text" name="title" size="30" value="<?php echo $this->config->title; ?>" />
  </td>
 </tr>
   
  <tr>
    <td colspan="2" align="center">
      <input type="submit" value="<?php print_string('savechanges') ?>" />
    </td>
  </tr>
</table>
 
<?php use_html_editor(); ?>