﻿body
{
}
.fotter
{
	Font-family:Arial;
	Font-Size:8pt ;
	color:#1F497D;
}

.top
{
	Font-family:Arial;
	Font-Size:18pt ;
	font-weight:bolder ;
	color:#1a7ab4;
}
.selected
{
	Font-family:Arial;
	Font-Size:9pt ;
	color: Black;
	background-color:Silver;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color:Gray;
}
.ms-bannerframe
{
    BORDER-left: #6396c6 4px solid;
    BACKGROUND-COLOR: White 
}    
.main
{
	border-right: #112A43 50px solid;
}
.main .ms-verticaldots
{
	background-image: url(Images/line.gif);
	background-position: right top;
	background-repeat: repeat-y;
}
TD.leftbar
{
	border-left: #cccccc 4px solid;
	border-right: medium none;
}