﻿body
{
}
.fotter
{
	Font-family:Arial;
	Font-Size:8pt ;
	color:#1F497D;
}

.top
{
	Font-family:Arial;
	Font-Size:18pt ;
	font-weight:bolder ;
	color:#1a7ab4;
}
.selected
{
	Font-family:Arial;
	Font-Size:9pt ;
	color: Black;
	background-color:Silver;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color:Gray;
}
.banner {
   color: white;
   font-size:    8pt;
   font-family:  verdana;
   background-color:#112A43;
}
.bannerframe
{
    BORDER-left: #6396c6 4px solid;
    BACKGROUND-COLOR: White 
}  

.footer {
   color: white;
   font-size:    8pt;
   font-family:  Arial;
   background-color:#112A43;
}
  
.main
{
	border-right: #112A43 10px solid;
}
.main .ms-verticaldots
{
	background-image: url(Images/line.gif);
	background-position: right top;
	background-repeat: repeat-y;
}
TD.leftbar
{
	border-left: #cccccc 4px solid;
	border-right: medium none;
}
TD.TitleArea 
{  
	font-family:   verdana; 
	font-size:     9pt;
}
.PageTitle   
{
	font-family: Verdana; 
	font-size: 14pt 
}
.SectionLine 
{
	background-color: #112A43; 
}
.PropertySheet .SectionHeader 
{
	color: #003063; 
	font-family: arial; 
	font-size: 12pt; 
	font-weight: bold 
}
.ms-navframe
{
	border-left: #cccccc 4px solid;
	border-right: medium none;
}
.ms-nav td 
{
   font-family:  Arial, Verdana, sans-serif;
   font-size:    8pt;
   font-weight: normal;
}
.ms-nav th  
{
   font-size:    8pt;
   font-family:  Arial, Verdana, sans-serif;
   font-weight:  normal;
   text-align:   left;
   color:        black;
}
.ms-nav a 
{
   text-decoration: none;
   font-family:  Arial, Verdana, sans-serif;
   font-size:    8pt;
   font-weight: normal;
   color: #112A43;
}
.ms-nav a:link {
}
.ms-nav a:hover {
   text-decoration: underline;
   color:        #798073;
}
