<h1>コースにマップする</h1>

<p>あなたの検索結果からコースを選択した後、コースにマップすることで、選択したコースとこのフィードバックを関連付けさせることができます。Ctrlキーを押しながら複数のコースを選択することも、Shiftキーを押しながら一連のコースを選択することもできます。</p>
<p>コースに関連付けたフィードバックは、いつでも関連付けを解除することができます。</p>