<h1>フィードバックをコースにマップする</h1>

<p>デフォルトでは、あなたのMoodleメインページで作成したフィードバックフォームは、サイト全体およびすべてのコースにフィードバックブロックを設置することで利用可能です。フィードバックをスティッキーブロックにすることで、強制的に表示することもできます。</p>
<p>特定のコースにマッピングすることで、フィードバックフォームが表示されるコースを制限することもできます。</p>