
</div> <!-- end div containerContent -->
<!-- START OF FOOTER -->
<div id="footer">

<?php if ($navigation and false) { ?>
    <div class="navbar clearfix">
        <div class="breadcrumb"><?php print_navigation($navigation); ?></div>
        <div class="menu"><?php echo $menu; ?></div>
    </div>
<?php } ?>
<div class="footer">
<table class="footer_panel" width="100%" border="0" cellpadding="15" cellspacing="0">
  <tr> 
    <td align="left" valign="middle"><p><a href="http://www.newbury-college.ac.uk"><img src="<?php echo $CFG->httpswwwroot.'/theme/'.current_theme() ?>/images/CATfooter.jpg" border="0" align="absmiddle"></a></p>
     </td>
       
  </tr>
</table>
</div>
<?php if (!empty($performanceinfo)) {
          echo $performanceinfo;
} ?>

</div>

</body>
</html>
