/*******************************************************************
 styles_color.css
  
 This CSS file contains all color definitions like 
 background-color, font-color, border-color etc.

 Styles are organised into the following sections:

  core
  header
  footer

  admin
  blocks
  calendar
  course
  doc
  login
  message
  question
  tabs
  user

  various modules

*******************************************************************/

/***
 ***  Core
 ***/

a.whitelink:link, a.whitelink:visited {
color: #FFFFFF;
}

a.whitelink:hover {
color: #ffffff;
}

a.greylink:link, a.greylink:visited {
color: #999999;
}

a.greylink:hover {
color: #999999;
}

a.autolink:link,
a.autolink:visited {
  color:#000000;
  background: #ffffff;
}

a.autolink.glossary:hover {
  cursor: help;
}

.headermenu a:link {
    color: #000000;
}
.headermenu a:visited {
    color: #000000;
}
.headermenu a:hover {
    color: #739AC5;
}

img.userpicture,
img.grouppicture {
  border-color:#000
}

.block_online_users .listentry img {
  border:#888
}

th.header,
td.header,
div.header {
    background: #d7d7db url('images/sideheader.jpg') repeat-x;
    color: #555555;
	}
	
table.formtable tbody th {
  background-color: transparent;
  background-image: none;
}


table.panel {
	border-width: 0px 0px 0px 0px;
	border-spacing: 2px;
	padding: 3px 3px 3px 3px;
	width: 100%;
	color: #555555;
	vertical-align: middle;
	background-color: #cccccc;
	
}

table.panel td {
	border-color: #CCCCCC #CCCCCC #CCCCCC #CCCCCC;
	background-color: #ffffff;
}

table.usres {
	color: #555555;	
}
table.usres td {
	background-color: #cccccc;
}

.highlight {
  background-color:#AAFFAA;
}

.highlight2 {
  color:#AA0000; /* highlight missing terms in forum search */
}

/* Alternate rows even */
.r0 {  
}

/* Alternate rows odd */
.r1 {  
}

/* notification messages (can be good or bad) */
.notifyproblem {
  color:#660000;
}
.notifysuccess {
  color:#006600;
}
.notifytiny {
  color:#000044;
}

#admin-auth_config .required {
  background-color:#DDDDDD;
}

.generalbox {
  border-color:#DDDDDD; 
  background-color:#ffffff;
}
.informationbox {
  border-color:#cccccc; 
}
.feedbackbox {
  border-color: #cccccc; 
}
.feedbackby {
  background-color:#cccccc;
}

.noticebox {
  border-color:#cccccc; 
}

.errorbox {
  color:#555555;
  border-color:#cccccc;
  background-color:#cccccc;
}

.errorboxcontent {
  background-color:#FFBBBB;
}

.tabledivider {
  border-color:#cccccc;
}

.sitetopic {

}

.sitetopiccontent {
  border-color:#cccccc;
  background-color:#FFFFFF;
}

.dimmed_text {
  color:#AAAAAA;
}

.teacheronly {
  color:#990000;
}

.unread {
  background: #78A2CD;
} 

.censoredtext {
  color:#ffffff;
  background:#ffffff;
}


/* kept for backward compatibility with some non-standard modules
   which use these classes for various things */
.generaltab, .generaltabinactive {
  background-color:#BBBBBB;
}
.generaltabselected {
  background-color:#DDDDDD;
}
.generaltabinactive {
  color:#CCCCCC;
}


.generaltable .cell {
  background-color:#FFFFFF;
  border-color:#EEEEEE; 
}

.generaltable {
  border-color:#EEEEEE; 
}



/***
 *** Header
 ***/



.headerskip a:link,
.headerskip a:visited,
.headerskip a:hover {
  color: #FFF;
}

.navigation select {
  background-color:#FFFFFF;
}

.navigation optgroup {
  background-color:#EEEEEE;
}

.navigation optgroup option {
  background-color:#FFFFFF;
}

/***
 *** Footer
 ***/

/*Accessibility: .debugwarn */
.debugwarn {
  text-align: center;
  background: #FDD;
}

.footer {
    color: #999999;
    
}

.footer_panel {
    background-color:#ffffff;
}

.homelink a:link,
.homelink a:visited,
.homelink a:hover {
  color: #000;
  text-decoration: none;
}
.homelink a:link,
.homelink a:visited {
  border-top: 1px solid #cecece;
  border-bottom: 2px solid #4a4a4a;
  border-left: 1px solid #cecece;
  border-right: 2px solid #4a4a4a;
}
.homelink a:hover {
  border-bottom: 1px solid #cecece;
  border-top: 2px solid #4a4a4a;
  border-right: 1px solid #cecece;
  border-left: 2px solid #4a4a4a;
}


/***
 *** Admin
 ***/

.admin .generalbox {
  border-color:#cccccc; 
}

.admin .generalboxcontent {
  background-color:#ffffff; 
}

.admin .informationbox {
  border-color:#cccccc; 
  background-color:#FFFFFF; 
}

body#admin-index .c0 {
  background-color: #FAFAFA;
}

body#admin-blocks table#blocks .r0,
body#admin-blocks table#incompatible .r0 {
  background-color: #f0f0f0;
}

body#admin-blocks table#blocks .r1,
body#admin-blocks table#incompatible .r1 {
  background-color: #fafafa;
}

body#admin-blocks table#incompatible td.c0 {
  color: #ff0000;
}

table.flexible  .r0 {
  background-color: #f0f0f0;
}

table.flexible .r1 {
  background-color: #fafafa;
}

#admin-report-simpletest-index span.notice {
  color: teal;
}

#admin-report-simpletest-index b.pass {
  color: green;
}

#admin-report-simpletest-index b.fail, b.exception {
  color: red;
}

#admin-report-simpletest-index .exception, .exception pre {
  background-color: #fdd;
}

#admin-report-simpletest-index .unittestsummary {
  color: white;
}

#admin-report-simpletest-index .unittestsummary.fail {
  background-color: red;
}

#admin-report-simpletest-index .unittestsummary.pass {
  background-color: green;
}

#adminsettings fieldset {
    background-color: #EEE;
    border-color: #BBB;
    color: #000;
}

#adminsettings .form-shortname {
    color: #888;
}

.block_admin_tree.sideblock .link.current {
  background-color:#EEEEEE;
}

#admin-lang .translator {
  border-color: #dddddd;
}

#admin-lang .translator tr.r0 {
  background-color: #f0f0f0;
}

#admin-lang .translator tr.r1 {
  background-color: #fafafa;
}

#admin-lang .translator .strkey {
  color: #666666;
}

#admin-lang .translator .bothmissing {
  background-color: #ef6868;
}

#admin-lang .translator .mastermissing {
  background-color: #feff7f;
}

#admin-lang .translator .localdifferent {
  background-color: #aaffaa;
}


/***
 *** Blocks
 ***/
.sideblock {
  border-color: #dddddd;
  }
  
.sideblock .header {
  border-color: #cccccc;
  color: #2B4F81;
  background: #d7d7db url('images/sideheader.jpg') repeat-x;
}

.sideblock .content {
  color: #7093DB;
  border-color: #ffffff;
  background-color:#FFFFFF;
}

.sideblock .content hr {
  border-top-color:#999999;
}

#left-column .hidden .header,
#right-column .hidden .header
{
  border-bottom-color: #dddddd;
}

.sideblock .header .hide-show img.hide-show-image {
  background: url('../../pix/t/switch_minus.gif') no-repeat bottom;
}

.sideblock.hidden .header .hide-show img.hide-show-image {
  background: url('../../pix/t/switch_plus.gif') no-repeat bottom;
}



/***
 *** Blogs
 ***/

.blogpost.blogdraft .content {
  background-color:#EEEEEE;
}

.block_blog_tags .official {
  color: #0000cc;
}

.block_blog_tags .personal {
  color: #666699;
}


/***
 *** Calendar
 ***/
 
#calendar .header {
  color: #555555;
}


#calendar .maincalendar,
#calendar .sidecalendar {
  border-color: #cccccc;
}

#calendar .maincalendar table.calendarmonth th {
  border-color: #cccccc;
}

table.minicalendar {
  border-color: #cccccc;
}

#calendar .maincalendar .eventlist .event {
  border-color:#cccccc;
}

#calendar .maincalendar .eventlist .event .topic,
#calendar .maincalendar .eventlist .event .picture,
#calendar .maincalendar .eventlist .event .side {
  background-color:#ffffff;
}

#calendar .maincalendar table.calendarmonth ul.events-underway {
  color:#555555;
}

/*Accessibility: increase contrast, darker link/weekend colors, lighter event backgrounds. */


#calendar .event_global,
.minicalendar .event_global,
.block_calendar_month .event_global {
  border-color:#c7da70 !important;
  background-color:#c7da70;
}

#calendar .event_course,
.minicalendar .event_course,
.block_calendar_month .event_course {
  border-color:#cccccc !important;
  background-color:#cccccc;
}

#calendar .event_group,
.minicalendar .event_group,
.block_calendar_month .event_group {
  border-color:#fbcd60 !important;
  background-color:#fbcd60;
}

#calendar .event_user,
.minicalendar .event_user,
.block_calendar_month .event_user {
  border-color:#a9d9e5 !important;
  background-color:#a9d9e5;
}

#calendar .duration_global,
.minicalendar .duration_global {
  border-top-color:#c7da70 !important;
  border-bottom-color:#c7da70 !important;
}

#calendar .duration_course,
.minicalendar .duration_course {
  border-top-color:#cccccc !important;
  border-bottom-color:#cccccc !important;
}

#calendar .duration_group,
.minicalendar .duration_group {
  border-top-color:#fbcd60 !important;
  border-bottom-color:#fbcd60 !important;
}

#calendar .duration_user,
.minicalendar .duration_user {
  border-top-color:#a9d9e5 !important;
  border-bottom-color:#a9d9e5 !important;
}

#calendar .weekend,
.minicalendar .weekend {
  color:#c93113;
  background-color:#dddddd;
}

#calendar .today,
.minicalendar .today {
  border-color:#c93113 !important;
}

.cal_popup_fg {
  background-color:#FFFFFF;
}

.cal_popup_bg {
  border-color:#000000;
  background-color:#FFFFFF;
}

#calendar .maincalendar .filters table,
#calendar .sidecalendar .filters table,
.block_calendar_month .filters table {
  background-color: #FFFFFF;
}



/***
 *** Course
 ***/

/* course, entry-page, login */
.headingblock {
  border-color: #cccccc;
  background: #d7d7db url('images/sideheader.jpg') repeat-x;
  color: #555555;
}

/* course */
.headingblock .outline {
  border-color:#cccccc;
  
}

#course-view .weekscss .section,
#course-view .section td {
  border-color:#cccccc;
  
}

#course-view .section .content {
  background: #Ffffff;
}

/* .content should match the body background, sides are white. */
#course-view .weekscss .content {
  background: #Ffffff;
}

#course-view .weekscss .section,
#course-view .section td.side {
  color: #ffffff;
  background: #cccccc;
}

#course-view .section .side {
}

#course-view .section .left {
}

#course-view .section .right {
}

#course-view .weekscss .current,
#course-view .current td.side {
  background: #cccccc;
}

#course-view .weekscss .hidden,
#course-view .hidden td.side {
  background: #DDDDDD;
}


#course-view .topics {


}

#course-view .weeks {
}

#course-view .section .spacer {
}

#course-view .section .weekdates {
  color: #777777;
}

#course-view .weekscss .weekdates {
  color: #333333;
}

.categoryboxcontent,
.coursebox {
  border-color:#ff4800;
  background: #FFFFFF;
}

body#course-user .section {
    border-color:#AAAAAA;
}


#admin-report .plugin,
#course-report .plugin,
#course-import .plugin {
  margin-bottom: 20px;
  margin-left:10%;
  margin-right:10%;

  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-left: 1px solid #cecece;

  background-color: #fdfdfd;
}


/***
 *** Doc
 ***/

/***
 *** Grades
 ***/

body#grade-index .grades {
  border-color:black;
}

body#grade-index .grades td {
  border-color:#e0e0e0;
}

body#grade-index .grades .r0 {
  background-color: #ffffff;
}

body#grade-index .grades .r1 {
  background-color: #f0f0f0;
}


/***
 *** Login
 ***/

.loginbox,
.loginbox.twocolumns .loginpanel,
.loginbox .subcontent {
  border-color:#cccccc;
}


/***
 *** Message
 ***/

table.message_search_results td {
  border-color:#cccccc;
  }

.message .author {
  color: #6c6c6c;
}

.message.other .author {
  color: #8888CC;
}

.message.me .author {
  color: #999999;
}

.message .time {
  color: #6c6c6c;
}

.message .content {
  }
  
  body#message-messages {
  background: #ffffff;
  }

/***
 *** Question
 ***/

.que {
    border-color: #DDD;
}
.que .r0 {
    background-color: #F5F5F5;
}
.que .r1 {
    background-color: #EEE;
}
.calculated .answer,
.numerical .answer,
.shortanswer .answer,
.truefalse .answer {
    background-color: #EEE;
}
.que .feedback {
  border-color: #DDD;
}
.que .incorrect {
    background-color: #faa;
}
.que .partiallycorrect {
    background-color: #ff9;
}
.que .correct {
    background-color: #afa;
}


/***
 *** Logs
 ***/

.logtable .r1 {
  background-color:#EEEEEE;
}


/***
 *** Tabs
 ***/



/***
 *** User
 ***/

.userpicture {
  background:#EEEEEE; 
}

.userinfobox {
  border-color: #cccccc;
  background-color: #F7F7F7;
}
.groupinfobox {
  border-color: #cccccc;
  background-color: #FCFCFC;
}


/***
 *** Modules: Chat
 ***/
 
#mod-chat-gui_header_js-jsupdate {
background:#ffffff;
}

#mod-chat-gui_header_js-users {
background:#ffffff;
}

#mod-chat-gui_header_js-chatinput {
background:#ffffff;
}

#mod-chat-gui_basic .text,
#mod-chat-gui_header_js-jsupdate .text {
  color:#000
}

#mod-chat-gui_basic .event,
#mod-chat-gui_basic .title,
#mod-chat-gui_header_js-jsupdate .event,
#mod-chat-gui_header_js-jsupdate .title {
  color:#888
}

#mod-chat-gui_header_js-chatinput .wait {
    background: #dddddd;
}

#mod-chat-view #chatcurrentusers .idletime {
  color: #888888;   
}

/***
 *** Modules: Choice
 ***/

.anonymous,
.names {
  background: #ffffff;
}

/***
 *** Modules: Forum
 ***/

.forumheaderlist,
.forumpost {
  border-color:#dddddd;
  color: #555555;
}

.forumpost .content {
  background: #FFFFFF;
  color: #555555;
}

.forumpost .left {
  background:#ffffff; 
}

.forumheaderlist {
  background:#ffffff; 
}

.forumpost .topic {
  border-bottom-color: #cccccc;
  background: #d7d7db url('images/sideheader.jpg') repeat-x;

}

.forumpost .starter {
  background: #d7d7db url('images/sideheader.jpg') repeat-x;
}

.forumheaderlist .discussion .starter {
  background: #ffffff;
}

.forumheaderlist td {
  border-color: #cccccc;
}

.sideblock .post .head {
  color:#555555;
}

.forumthread .unread {
  background: #78A2CD;
}

#mod-forum-discuss .forumpost {
  background: none;
}

#mod-forum-discuss .forumpost.unread .content {
  border-color: #FFD991; 
} 

#mod-forum-discuss .unread .forumpost .message {
  border-color: #78A2CD; 
} 

#mod-forum-discuss .forumthread .unread {
} 

#mod-forum-index .unread {
}


/***
 *** Modules: Glossary
 ***/

.entryboxheader {
  border-color: #BBBBBB;
}

.entrybox {
  border-color: #BBBBBB;
  background: #ffffff;
}

.entry {
}

.glossarypost {
  border-color: #cccccc;
}

.glossarypost .entryheader,
.glossarypost .entryapproval,
.glossarypost .picture,
.glossarypost .entryattachment,
.glossarypost .left {
  background-color: #cccccc;
}

.glossarycomment {
  border-color: #cccccc;
}

.glossarycomment .entryheader,
.glossarycomment .picture,
.glossarycomment .left {


}

#mod-glossary-report .generalbox .teacher {
  background: #cccccc;
}

.glossarycategoryheader {
  background: #d7d7db url('images/sideheader.jpg') repeat-x;
}


.glossaryformatheader {
  background-color: #cccccc;
}

/***
 *** Modules: Journal
 ***/

#mod-journal-view .feedbackbox .left,
#mod-journal-view .feedbackbox .entryheader {
  background-color: #cccccc;
}

/***
 *** Modules: Label
 ***/

/***
 *** Modules: Lesson
 ***/

/***
 *** Modules: Quiz
 ***/

body#mod-quiz-report table#attempts td {
  border-color: #cccccc;
}
body#mod-quiz-report table#attempts .r1 {
  background-color: #eeeeee;
}


/***
 *** Modules: Resource
 ***/

.ims-nav-dimmed {
  color: #AAAAAA;
  text-decoration: none;
}

.ims-nav-button a:link,
.ims-nav-button a:visited,
.ims-nav-button a:hover {
  color: #000;
  text-decoration: none;
}

.ims-nav-dimmed,
.ims-nav-button a:link,
.ims-nav-button a:visited {
  border-top: 1px solid #cecece;
  border-bottom: 2px solid #4a4a4a;
  border-left: 1px solid #cecece;
  border-right: 2px solid #4a4a4a;
}

.ims-nav-button a:hover {
  border-bottom: 1px solid #cecece;
  border-top: 2px solid #4a4a4a;
  border-right: 1px solid #cecece;
  border-left: 2px solid #4a4a4a;
}

#ims-contentframe,
#ims-contentframe-no-nav {
  border-color: #cecece;
}


/***
 *** Modules: Scorm
 ***/

/***
 *** Modules: Survey
 ***/

#mod-survey-view .r0 {
  background-color: #ffffff;
}
#mod-survey-view .r1 {
  background-color: #ffffff;
}

.mainTable {
  background-color: #ffffff;
}

/***
 *** Modules: Wiki
 ***/

/***
 *** Modules: Workshop
 ***/

.workshoppostpicture {
  background-color:#FEE6B9;
}

.workshopassessmentheading {
  background-color:#DDDDDD;
}

.error {
  color:#ff0000;
}

#admin-roles-override .capcurrent {
  background-color:#FFFFFF;
  border: 1px solid #cecece;
}

#admin-roles-manage .capdefault {
  background-color:#dddddd;
  border: 1px solid #cecece;
}

#admin-roles-manage .rolecap,
#admin-roles-override .rolecap {
  border:none;
  border-bottom:1px solid;
  border-bottom-color: #cecece;
}

#admin-roles-manage .rolecap .cap-desc .cap-name,
#admin-roles-override .rolecap .cap-desc .cap-name {
  color: #888;
}

form.mform .required label {
  color:#a00;
}
form.mform .fdescription.required {
  color:#a00;
}