/*******************************************************************
 styles_variable.css
  
 This CSS file contains all color definitions like 
 background-color, font-color, border-color etc.

 

*******************************************************************/

/***
 ***  Core
 ***/

a:link,
a:visited {
  color:#4498ca;
}

a:hover {
  color:#333333;

}
body {
  background: #ffffff url('images/bkg_body.jpg') repeat-x center top;
  border-color:#ffffff;
  width: 960px;
  margin-left: auto; 
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
}

.surround {
  background: #F0FFFF;
  border-top: 0px solid #ffffff;
  border-right: 0px solid #ffffff;
  border-bottom: 0px solid #ffffff;
  border-left: 0px solid #ffffff;
  
  
}

.menubar {
background: #EEAD0E;


}

.navbar {
  background: #ffffff;
  border-top: #ffffff;
  border-right: #ffffff;
  border-bottom: #ffffff;
  border-left: #ffffff;
  color: #236B8E;
}

.navbar a:link {
    color: #236B8E;
}
.navbar a:visited {
    color: #4498ca;
}
.navbar a:hover {
    color: #03A89E;
}

div.headermenu 
{
	color:#ffffff;
}
div.logoutlink 
{
	color:#000000;
}
.breadcrumb .sep, #admin-report-simpletest-index .sep {
  color:#ffffff;
}

.breadcrumb a{
  color:#5390a0;
}

.minicalendar a,
.calendarmonth a {
  color:#ff0000;
}

.block_login_logout .logintable {
  text-align:center;
}

.block_login_logout .loginform {
  display:inline;
}

.block_login_logout .loginform .c1 {
  font-size: 12px;
  margin:0px 2px 4px 0px;
}

.block_login_logout .loginform .fld input {
  width:5em;
}

.block_login_logout .loginform label {
  padding-right: 4px;
}

.block_login_logout .loginform div {
  margin:0.3em 0.8em;
  text-align:right;
  display:block;
}

.block_login_logout .loginform div.c1.btn {
  text-align:center;
}

.block_login_logout .logoutusername,
.block_login_logout .logoutuserimg {
  text-align:center;
  font-size:10pt;
  padding:2px;
}

.block_login_logout .logoutform {
  margin:0px;
}

.block_login_logout .logoutbtn {
  text-align:center;
  font-size:10pt;
  padding:5px;
}

.block_login_logout .logoutfooter {
  text-align:center;
  font-size:8pt;
  padding:2px;
}

