<h1>Opening and closing the game</h1>

<p>You can specify times when the game is accessible for people to make attempts.</p>

<p>Before the opening time, and after the closing time, the game will be unavailable.</p>
