

p {
	margin: 0 0 1em;
}
hr{
	outline: none;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	background: none;
	border: none;
	height: 1px;
	border-top: 1px solid #e4e6e5;
	clear: both;
}


.clear { clear: both }
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.pull-left {float: left;}
.pull-right {float: right;}
* html .clearfix{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.remove-margin { margin-right: 0 !important }



#wrap{
	margin: 0 auto;
	width: 960px;
}
.container{background: #fff; padding: 20px 20px 48px; box-shadow: 0 0 2px #888; -moz-box-shadow: 0 0 2px #888; -webkit-box-shadow: 0 0 2px #888;}








/*homepage specific*/


.no-margin{
	margin-right: 0px !important;
}
.no-border{
	border-right: 0px !important;
}

ul.filter{
	font-size: 10px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	right: 0px;
	list-style: none;
	color: #999;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
}
ul.filter li{
	float: left;
	margin-right: 10px;
	padding-right: 16px;
	background: url("images/asterisk.png") right center no-repeat;
}
ul.filter a{
	color: #999;
	padding-bottom: 3px;
	text-decoration: none;
}
ul.filter li:last-child{
	margin: 0;
	padding: 0;
	background: 0;
}

ul.filter a:hover,
ul.filter a.active{
	color: #333;
}
ul.filter a.active{
	border-bottom: 3px solid #fd7f61;
}

}


.blue-text{color: #52A0DD!important;}
.green-text {color: #71982B!important;}
.black-text {color: #333!important;}
.lightgrey-bg {background: #f1f2f3;}
.darkgrey-bg {background: #333; color: #fff;}
.lightgrey-border {border-top: 1px solid #e4e6e5; border-bottom: 1px solid #e4e6e5;}
.lightgrey-border-full {border: 1px solid #e4e6e5;}
.grey-border-full {border: 1px solid #ccc;}



.one-half,
.two-columns { width: 48% }
.one-third,
.three-columns { width: 30.66% }
.one-two-third { width: 65.33% }
.one-fourth,
.four-columns { width: 22% }
.one-three-fourths { width: 74% }
.one-fifth { width: 16.8% }
.one-sixth { width: 13.33% }

.two-columns,
.three-columns,
.four-columns ,
.one-two-third,
.one-three-fourths,
.one-half,
.one-third,
.two-third,
.one-fourth,
.three-fourth,
.one-fifth,
.one-sixth {
    position: relative;
    margin-right: 4%;
    float: left;
}
.column-last { margin-right: 0px }
.column-first { margin-left: 0px }

.column-last:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.one-half.frame {width: 44.5%; padding: 1.5%; border: 1px solid #ccc;}
.one-third.frame {width: 27%; padding: 1.5% 1.5% 0 1.5%; border: 1px solid #ccc; overflow: hidden;} 
.one-half.rightborder {margin-right: 1.9%; padding-right: 1.9%; border-right: 1px solid #ccc;}




.hiddenbr br {display: none;}
.centered {text-align: center;}
.extendfull{padding-left: 3000px; margin-left: -3000px; padding-right: 3000px;  margin-right: -3000px; position: relative; display: inline; float: left; width: 100%; }
.extendwrap{padding-left: 20px; margin-left: -20px; padding-right: 20px;  margin-right: -20px; position: relative; display: inline; float: left; width: 100%; }
.large-padding {padding: 20px;}
.large-padding-nobottom {padding: 20px 20px 0 20px;}
.padding0 {padding: 0!important;}
.padding10 {padding-top: 10px; padding-bottom: 10px;}
.padding20 {padding-top: 20px; padding-bottom: 20px;}
.paddingtop20 {padding-top: 20px;}
.paddingr10 {padding-right: 10px;}
.padding5-5 {padding: 5px;}
.padding15-15 {padding: 15px;}
.margin0{margin: 0px;}
.margin5{margin-bottom: 5px;}
.margin15{margin-bottom: 15px;}
.margin25{margin-bottom: 25px;}
.margintop-450 {margin-top: -450px; margin-bottom: -10px;}
.margintop-25 {margin-top: -25px!important;}
.width55 {width: 55%;}


.uppercase {text-transform: uppercase;}
.font60 {font-size: 60px!important; line-height: 1em;}
.font40 {font-size: 40px!important; line-height: 1em;}
.font37 {font-size: 37px!important; line-height: 1em;}
.font36 {font-size: 36px!important; line-height: 1em;}
.font30 {font-size: 30px!important; line-height: 1em;}
.font25 {font-size: 25px!important; line-height: 1em;}
.font26 {font-size: 26px!important; line-height: 1em;}
.font22 {font-size: 22px!important; line-height: 1em;}
.font20 {font-size: 20px!important; line-height: 1em;}
.font18 {font-size: 18px!important; line-height: 1em;}
.font16 {font-size: 16px!important;}
.font12 {font-size: 12px!important;}
.line12em {line-height: 1.25em;}
.line15em {line-height: 1.5em;}

