<img alt valign="middle" src="<?php echo $CFG->wwwroot?>/mod/feedback/icon.gif">&nbsp;<b><?php print_string('modulename', 'feedback');?></b>

<ul>
<p>
Med den här modulen kan Du skapa individuella enkäter för Dina studenter/elever/deltagare/lärande.
</p>
</ul>