<img alt valign="middle" src="<?php echo $CFG->wwwroot?>/mod/feedback/icon.gif">
   &nbsp;<b><?php print_string('preview', 'feedback');?></b>

<ul>
<p>
I förhandsgranska kan Du ändra ordningsföljden på frågorna.
</p>
</ul>