<p>Ak ste vybrali pomocou vyhľadávania príslušný kurz (kurzy), môžete
  ich priradiť k tomuto dotazníku. Môžete pritom použiť klávesy CTRL a
  SHIFT pre výber viacerých kurzov. </p>
<p>Táto operácie je vratná a je možné hocikedy odobrať kurz od daného
dotazníka.</p>
