<p>Štandardne, formuláre vytvorené na hlavnej stránke Moodle budú
  dostupné vo všetkých kurzoch, ktoré obsahujú blok Spätná väzba. Tiež
  je možné nastaviť blok ako nezmazateľný a bude zobrazený vo všetkých
  kurzoch. </p>
<p>Tiež je ale možné obmedziť, v ktorých kurzoch bude môcť byť blok
viditeľný.</p>
