<img alt valign="middle" src="<?php echo $CFG->wwwroot?>/mod/feedback/icon.gif" />&nbsp;<b><?php print_string('modulename', 'feedback');?></b>

<ul>
<p>
S týmto modulom môžete vytvárať dotazníky pre vašich študentov.
</p>
</ul>

