<p>Určenie časového intervalu, v ktorom je možné vyplňovať dotazník.</p>
<p>Dotazník nebude dostupný po čase, ktorý je tu uvedený.<br />Ak
zaškrtávacie políčko nie je vybrané, potom neexistuje žiaden časový
limit.</p>
