<p>Use the enrol into Program option on the subcourse module to enable the cron and the grade logic to auto enroll users to the program when some attempts the sub course module.</p>
<p>By doing so we enable the manual enrollment of uers and get a real time data even when the cron is not run.</p>