<img alt valign="middle" src="<?php echo $CFG->wwwroot?>/mod/feedback/icon.gif">&nbsp;<b><?php print_string('modulename', 'feedback');?></b>

<ul>
<p>
A l'aide de ce module, vous pouvez créer des questionnaires à destination de vos étudiants et enseignements.
</p>
</ul>

