<img alt valign="middle" src="<?php echo $CFG->wwwroot?>/mod/feedback/icon.gif">
   &nbsp;<b><?php print_string('preview', 'feedback');?></b>

<ul>
<p>
En mode prévisualisation, vous pouvez modifier l'ordre des questions.
</p>
</ul>

