<img alt valign="middle" src="<?php echo $CFG->wwwroot?>/mod/feedback/icon.gif" />&nbsp;<b><?php print_string('modulename', 'feedback');?></b>

<ul>
<p>
S tímto modulem můžete vytvářet dotazníky pro vaše studenty.
</p>
</ul>

