<h1>Asset ID</h1>

<p>This is the SkillSoft unique id that is assigned to all eLearning assets</p>

<p>Once you have saved the SkillSoft Asset it is not possible to edit this value or the value of the <a href="help.php?module=skillsoft&amp;file=launch.html">Launch URL</a></p>
