<h1>Duration</h1>

<p>Enter the duration for the SkillSoft Asset, in minutes, optionally you can use the <a href="help.php?module=skillsoft&amp;file=retrievemetadata.html">Retrieve Metadata</a> button to automatically complete this information from the <a href="help.php?module=skillsoft&amp;file=olsa.html">OLSA</a> server.</p>
