<h1>Mastery Score</h1>

<p>When using "Track to LMS" mode, this value is sent to the SkillSoft course on launch and controls when the course will return a lesson status of completed.</p>
<p>If "No Mastery Score" is selected the course will rely on the value configured in SkillSoft OLSA</p>

<p>When using "Track to OLSA" mode, this value is ignored, the judging of completion is performed by the SkillSoft OLSA server</p>

