<h1>SkillSoft Open Learning Services Architecture (OLSA)</h1>

<p>The SkillSoft Open Learning Services Architecture (OLSA) is an enhancements to the SkillSoft Skillport LMS architecture.</p>
<p>It is made up of two components:</p> 
<ul>
<li>LMS Interface - This provides a means for Moodle to launch SkillSoft assets using the industry standard AICC HACP method.</li>
<li>Web Services - This provides a means for another system to interact with SkillPort using standards based Web Services. These provide the functionality in this module to support retrieving of course metadata and synchronising progress between the systems</li>
</ul>
<p>OLSA Supports two tracking modes, which determines where the users progress data is stored</p>
<ul>
<li>Track to LMS - All usage data is returned immediately to Moodle</li>
<li>Track to OLSA - All usage data is returned to OLSA Server, and synchronised back to Moodle using the OLSA Web Services every 5 minutes</li>
</ul>
<p>SkillSoft recommend the &quot;Track to OLSA&quot; mode as this enhances the functionality available to the user alllowing use of:</p>
<ul>
<li>Download Capability - Using the SkillSoft Course Manager (SCM) a customer can allow users to download courses to use off line and all tracking and synchronisation of usage data is automatically handled by OLSA</li>
<li>KnowledgeCenters - A SkillSoft KnowledgeCenter is a pre-packaged, user-friendly learning portal that allows learners instant access to trusted, targeted content. This content may include assets loaded for direct access in Moodle. By using &quot;Track to OLSA&quot; only a single training record of usage will exist.</li>
<li>Search and Learn Connect - Using this interface a user can perform on-demand, integrated searches across the full library of SkillSoft resources they have access to and be directed to the specific book page, course topic or other tools they need for instant and relevant answers.</li>
</ul>
<p>For further information on OLSA <a href="http://www.skillsoft.com/products/lms_integration.asp" target="_blank">Click Here</a></p>