<h1>Retrieve/Update Metadata</h1>

<p>When you click this button the SkillSoft <a href="help.php?module=skillsoft&amp;file=olsa.html">OLSA</a> server you are using will be queried, for details on the Asset you specify.</p>
<p>The query will update the Activity with this information if available:</p>
<ul>
    <li><b>Course Description/Overview</b></li>
    <li><b>Target Audience</b></li>
    <li><b>Prerequisites</b></li>
    <li><b>Expected Duration</b></li>
</ul>