<?php $usehtmleditor = can_use_html_editor(); ?>
<table cellpadding="9" cellspacing="0">
<tr valign="top">
    <td align="right">Course completion:</td>
    <td><input type="text" name="title" size="30" value="<?php echo isset($this->config->title)?p($this->config->title):''; ?>" />(leave blank to hide the title)</td>
</tr>
<tr valign="top">
    <td align="right">Course completion:</td>
    
</tr>
<tr>
    <td colspan="3" align="center">
    <input type="submit" value="<?php print_string('savechanges') ?>" /></td>
</tr>
</table>
<?php if ($usehtmleditor) {
          use_html_editor(); 
      }
?>
