﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="LMSDashboard._Default" %>


<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>NLCI Dashboard</title>
    <script type="text/javascript">

        function Clicked(event)
        {
//         debugger;
            //var obj = event.srcElement ;
            //var seltreeNode = obj;
//            //var test = seltreeNode.alt.indexOf('Expand'); 
//            seltreeNode.style.backgroundImage = "Images\\folderopen.gif";
//            if(true)
//            {
//                seltreeNode.style.backgroundImage = "Images\\folderopen.gif";
//            }

            //seltreeNode.style.backgroundImage = "folderopen.gif";
//           
//            seltreeNode.style.backgroundColor = "Gainsboro";
//            seltreeNode.style.color = "Black";

//            seltreeNode.style.borderColor = "Gray";
//            seltreeNode.style.borderWidth = "1px";
//            seltreeNode.style.borderStyle = "Solid";
//            seltreeNode.style.paddingBottom = "1px";
//            seltreeNode.style.paddingTop = "1px";
//            seltreeNode.style.paddingRight = "1px";
//            seltreeNode.style.paddingLeft = "1px";
	        //seltreeNode.style.padding-right= "2px";
            //seltreeNode.style.cssText = "selected";
            
//            alert(seltreeNode.innerHTML); //This will prompt selected Node Text
//            seltreeNode.innerHTML = "Test"; //This will change the selected node text as “Rajesh Babu”
        }


    </script>
    <link href="Style/Stylesheet1.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .style1
        {
            height: 11px;
        }
    </style>

</head>
<body leftmargin="0" topmargin="0" rightmargin="0" bottommargin = "0" >
    <form id="form1" runat="server">
    <div>
        <table height = "100%" width= "100%" border ="0">
            <tr>
                <td height ="100%" width = "100%" >
                    <table border="0" cellpadding="0" cellspacing="0" class="main" height = "100%" width ="100%">
                        <tr>
                            <td width="100%" valign="top" >
                                <table width="100%" border="0"  cellpadding="3" cellspacing="0" style ="border-bottom:#cccccc 4px solid">
                                    <tr>
	                                    <td class="banner" height="10px">
                                            </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr> 
                            <td style="width: 100%">
                                <table width="100%" border="0" class="TitleArea" cellpadding="3" style ="border-left:#cccccc 4px solid;border-right:#cccccc 4px solid"> 
                                    <tr> 
                                        <td  style="padding-bottom: 0px" > 
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" > 
                                                <tr> 
                                                    <td align="center" nowrap="nowrap"  width="105" height="40">
                                                        <img alt="Icon" id="alt100"  src="Images/NTT_DATA-Logo-Original.gif" /></td> 
                                                    <td style="width: 20px">&nbsp; &nbsp; </td> 
                                                    <td  valign="bottom" >  
                                                        <table cellpadding="0" cellspacing="0" border="0" style="width: 100%"> 
                                                            <tr> 
                                                                 <td class="TitleArea" id="Web_description" style="width: 274px">
                                                                    <span id="spn_lbl_title1"> NLCI Certifications Report</span>
                                                                 </td> 
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" style="background-color: red"
                                                                    valign="top">
                                                                    <img src="Images/empty.gif" width="1" alt="" /></td>
                                                                    <td style="width:600px"></td>
                                                            </tr>
                                                            <tr> 
                                                                <td class="PageTitle" style="width: 274px">
                                                                    <span id="spn_lbl_title2">DASHBOARD
                                                                    </span>
                                                                </td>
                                                                <td></td>
                                                            </tr> 
                                                             
                                                        </table>
                                                    </td> 
                                                </tr> 
                                                <tr> 
                                                    <td align="center" width="105" height="10px">
                                                       </td> 
                                                    <td ></td> 
                                                    <td >  
                                                        </td> 
                                                </tr> 
                                            </table> 
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%"> 
                                                <tr> 
                                                    <td colspan="6" style="height: 5px"><img alt="" src="Images/blank.gif" width="1" height="1" /></td> 
                                                </tr> 
                                                <tr> 
                                                    <td class="SectionLine" height="2" colspan="6"><img alt="" src="Images/blank.gif" width="1" height="1" /></td> 
                                                </tr> 
                                                <tr> 
                                                    <td colspan="6" style="height: 2px"><img alt="" src="Images/blank.gif" width="1" height="1" /></td> 
                                                </tr> 
                                            </table> 
                                        </td>
                                    </tr> 
                                </table> 
                            </td>
                        </tr>
                        <tr valign="top" >
                            <td class="ms-nav" height= "100%" width= "100%" style ="border-left:#cccccc 4px solid;border-right:#cccccc 4px solid"> 
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
                                    <tr valign="top"> 
                                        <td width = "145px" height= "100%" >
                                        <table height= "100%" cellpadding ="0" cellspacing ="0" style = "background-color : whitesmoke; ">
                                            <tr>
                                                <td align = "left" valign = "middle" class="style1" style="width:10%"><img src="Images/OFFLOGO.GIF" /></td>
                                                <td valign = "middle" align="left" class="style1" style="width:90%"><span style="font-weight:bold" >Certifications</span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" valign = "top" >
                                                    <asp:TreeView ID="trv_Menu" ExpandDepth = "0" OnTreeNodePopulate = "trv_Menu_TreeNodePopulate"
                                                     ShowExpandCollapse="true" runat="server" ImageSet="Arrows" NodeIndent="5" 
                                                     onselectednodechanged="trv_Menu_SelectedNodeChanged" NodeWrap="True">
                                                    <ParentNodeStyle Font-Bold="False" VerticalPadding="1px"  />
                                                    <HoverNodeStyle Font-Underline="True" />
                                                    <SelectedNodeStyle
                                                        Font-Underline="False" />
                                                     <RootNodeStyle Font-Bold="True" Font-Names="Arial" Font-Size="8pt"  
                                                         HorizontalPadding="1px" VerticalPadding="1px" />
                                                    <NodeStyle VerticalPadding="1px" 
                                                         Font-Bold="False" />
                                                     <LeafNodeStyle Font-Names="Arial" Font-Size="8pt" Font-Strikeout="False" 
                                                          HorizontalPadding="1px" VerticalPadding="1px" />
                                                </asp:TreeView>
                                                
                                                </td>
                                            </tr>
                                        </table>
                                        
                                            
                                        </td>
                                        <td style = "width :2px" ></td>
                                        <td  align ="left" class="ms-nav" >
                                            <rsweb:ReportViewer ID="rptViewer" Height= "100%" runat="server" Font-Names="Verdana"
                                                    Font-Size="8pt" ProcessingMode="Remote" ShowParameterPrompts="False" 
                                                DocumentMapCollapsed="True" ShowDocumentMapButton="False" 
                                                     ShowFindControls="False" SizeToReportContent="True" Width="99%" 
                                                     InternalBorderColor="31, 73, 125" 
                                                    DocumentMapWidth="99%"  BackColor="Silver">
                                              </rsweb:ReportViewer>
                                        </td>
                                    </tr>
                                </table> 
                            </td>
                        </tr>
                        <tr>
                            <td class ="footer" height ="8px" style ="border-top:#cccccc 4px solid">
                                <div > 
						            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© 2012 NTT DATA, Inc. All rights reserved.<%--&nbsp;&nbsp; <a href="http://keane.com/" target="_blank" style=" text-decoration:none; color :White" >www.keane.com </a>--%>
							    </div>  
							    <input id="hid_rptType" type="hidden" runat = "server" />
                            </td>
                        </tr>
                    </table>
                   </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
