 <table cellpadding="9" cellspacing="0">
 <tr valign="top">
     <td align="right">
         <?php print_string('cfgdisplaytitle', 'block_admin_announcements'); ?>:
     </td>
     <td>
        <?php print_textfield ('displaytitle', !empty($this->config->displaytitle) ? $this->config->displaytitle : ''); ?> 
     </td>
 </tr>
 <tr>
     <td colspan="2" align="center">
         <input type="submit" value="<?php print_string('savechanges') ?>" />
     </td>
 </tr>
 </table>
