<h2>Choices</h2>

<ul>
  <li><a href="help.php?module=choice&amp;file=limit.html">Choice Limit</a></li>
  <li><a href="help.php?module=choice&amp;file=options.html">Options</a></li>
  <li><a href="help.php?module=choice&amp;file=timerestrict.html">Restrict times</a></li>

</ul>

