<p>By default Feedback forms created on your Moodle main page are available site wide
and will appear in all courses using the Feedback block. You can also force the Feedback
to appear by making it a Sticky Block.</p>
<p>You can however limit the courses in which a Feedback form will appear by Mapping it
to specific courses.</p>