<p>Once you have selected the relevant Course(s) and/or Programme(s) from your Search,
you can associate them with this Feedback using Map Course(s). You can Ctrl select
multiple Courses or Shift select a series of Courses.</p>
<p>You can disassociated a Course or Programme from a Feedback at any time.</p>