<p>You can specify times when the feedback is accessible for people to answer the questions.</p>
<p>At a time before this time here defined, the feedback will be unavailable.<br />
If the checkbox is not selected so there is no limit defined.</p>
