<form method="post" action="/grade/export/managerxls/index.php?id=<?php echo $courseid; ?>">
<input type="hidden" name="sesskey" value="<?php echo $USER->sesskey; ?>" />
<input type="hidden" name="manager" value="<?php echo $_GET['manager']; ?>" />
<table border="0" align="center">
<tr>
<td>Export Team's Report:</td>
<td>
<select name="download" >
   <option value="excel" selected="selected">Excel</option>
   <option value="ods">ods</option>
</select>
<input type="submit" value="Export to file" /></td>
</td></tr>
</tr></table>
<br/>
</form>
