<?php $usehtmleditor = can_use_html_editor(); 
/*10/13/14 Get User location*/
$choices = user_get_location();
/*10/13/14 Function to get user country*/
	function user_get_location() { 
    global $CFG; 
    if ($usercountrys = get_records_sql("select distinct country from mdl_user")) {
        $i=1;
       foreach ($usercountrys as $usercountry) {
            $typemenu[$usercountry->country] = $usercountry->country;
            $i++;
        }
        return $typemenu;

		} else { 
        
        return '';

		}
	}
	?>
<table cellpadding="9" cellspacing="0">
<tr valign="top">
    <td align="right"><?php print_string('configtitle', 'block_html'); ?>:</td>
    <td><input type="text" name="title" size="30" value="<?php echo isset($this->config->title)?p($this->config->title):''; ?>" /> (<?php print_string('leaveblanktohide', 'block_html'); ?>)</td>
</tr>
<!-- 10/13/14 Drop down for User country -->
<tr valign="top">
    <td align="right"><?php print_string('country', 'block_html'); ?>:</td>
    <td> <?php choose_from_menu($choices, 'country', $this->config->country,'',''); ?>
	</td>
</tr>
<!-- completed -->
<tr valign="top">
    <td align="right"><?php print_string('configcontent', 'block_html'); ?>:</td>
    <td><?php print_textarea($usehtmleditor, 25, 50, 0, 0, 'text', isset($this->config->text)?$this->config->text:'') ?></td>
</tr>
<tr>
    <td colspan="3" align="center">
    <input type="submit" value="<?php print_string('savechanges') ?>" /></td>
</tr>
</table>
<?php if ($usehtmleditor) {
          use_html_editor(); 
      }
?>
