<img alt valign="middle" src="<?php echo $CFG->wwwroot?>/mod/feedback/icon.gif">&nbsp;<b><?php print_string('modulename', 'feedback');?></b>

<ul>
<p>
Met deze module kunt u feedback en evaluatie formulieren maken
</p>
</ul>