<img alt valign="middle" src="<?php echo $CFG->wwwroot?>/mod/feedback/icon.gif">
   &nbsp;<b><?php print_string('preview', 'feedback');?></b>

<ul>
<p>
In de preview kunt u de volgorde van de vragen aanpassen
</p>
</ul>

