<h1>Asset ID</h1>

<p>This is the SkillSoft unique id that is assigned to all eLearning assets</p>

<h2>Locating Catalog Asset IDs</h2>
<p>Catalog Assets are defined as those that appear within the OLSA platform's catalog view.</p>
 
<p>In the catalog view all SkillSoft e-Learning courses, KnowledgeCenters and Learning Programmes are listed.</p>
 
<p>What is not listed are Books24x7 assets or supplementary material such as SkillSoft JobAids or SkillBriefs.</p>

<p>To retrieve a full list of IDs for all the avilable assets on your OLSA site. Login to the OLSA site as an administrator, your SkillSoft Account Team will provide the user id and password to use, and run a Course Listing Report.</p>

<p>The value to enter as the &quot;Asset ID&quot; is the &quot;Course Number&quot;</p>

<h2>Locating Book Asset IDs</h2>
<p>Login to the Books24x7 site as an administrator, your SkillSoft Account Team will provide the user id and password to use, and run:</p> 
<ul>
<li><p>Titles in Collection - This report provides a list of all titles available in the selected collection listed alphabetically. It also includes coming soon titles. Specific data included:</p>
<p>Publisher/Producer, title, B24 bookid, ISBN, copyright, date added to site. Speaker and expire date are also include for video based collections</p>
</li>
 
<li><p>Titles in Collection by Topic - This report provides a list of all titles available in the selected collection listed by topic and subtopic areas. Specific data included:</p> 
<p>Topic, subtopic, title, publisher/producer, ISBN, one-line summary, B24 bookid, copyright date. Speaker is also included for video based collections</p>
</li>
</ul>

<p>The value to enter as the &quot;Asset ID&quot; is the &quot;Bookid&quot;</p>

<h2>Special Asset IDs</h2>
<p>There are a number of asset ids not listed in the reports above that perform specific functions:</p>
<ul>
<li><p>SSO</p>
<p>This id if the site is in <a href="help.php?module=skillsoft&amp;file=olsa.html">&quot;Track to OLSA&quot;</a> mode enables a seamless login from Moodle to the SkillPort Platform</p>
</li>

<li><p>_addon_books_001</p>
<p>This id if Books24x7 is available will log the user into the Books24x7 home page. This can be used as well as the direct links to individual Books</p>
</li>
 
</ul>



<p>Once you have saved the SkillSoft Asset it is not possible to edit this value or the value of the <a href="help.php?module=skillsoft&amp;file=launch.html">Launch URL</a></p>
