<h1>Audience</h1>

<p>Enter the Target Audience for the SkillSoft Asset, optionally you can use the <a href="help.php?module=skillsoft&amp;file=retrievemetadata.html">Retrieve Metadata</a> button to automatically complete this information from the <a href="help.php?module=skillsoft&amp;file=olsa.html">OLSA</a> server.</p>
