<h2>SkillSoft Asset Module</h2>
<ul>
	<li><a href="help.php?module=skillsoft&amp;file=mods.html">General Info</a></li>
	<li><a href="help.php?module=skillsoft&amp;file=olsa.html">About Skillsoft OLSA</a></li>
	<li><a href="help.php?module=skillsoft&amp;file=assetid.html">Asset ID</a></li>
	<li><a href="help.php?module=skillsoft&amp;file=retrievemetadata.html">Retrieve Metadata</a></li>
	<li><a href="help.php?module=skillsoft&amp;file=title.html">Title</a></li>
	<li><a href="help.php?module=skillsoft&amp;file=overview.html">Overview/Description</a></li>
	<li><a href="help.php?module=skillsoft&amp;file=audience.html">Audience</a></li>
	<li><a href="help.php?module=skillsoft&amp;file=prereq.html">Prerequisites</a></li>
	<li><a href="help.php?module=skillsoft&amp;file=duration.html">Duration</a></li>
	<li><a href="help.php?module=skillsoft&amp;file=launch.html">Launch URL</a></li>
	<li><a href="help.php?module=skillsoft&amp;file=mastery.html">Mastery Score</a></li>
	<li><a href="help.php?module=skillsoft&amp;file=noncompletable.html">Scoring and Completion Status of N/A</a></li>
</ul>
