<h1>Launch URL</h1>

<p>Enter the the fully qualified URL to the SkillSoft Asset or use the <a href="help.php?module=skillsoft&amp;file=retrievemetadata.html">Retrieve Metadata</a> button to automatically complete this information from the SkillSoft <a href="help.php?module=skillsoft&amp;file=olsa.html">OLSA</a> server.</p>

<p>Once you have saved the SkillSoft Asset it is not possible to edit this value or the value of the <a href="help.php?module=skillsoft&amp;file=assetid.html">Asset ID</a></p>
