<h2>SkillSoft Asset Module</h2>
<p>This module provides a way to simply create a new activity for a SkillSoft <a href="help.php?module=skillsoft&amp;file=olsa.html">OLSA</a> Hosted asset that will be tracked by Moodle</p>
<p>All the information to launch the asset can be entered manually, or just the Asset ID can be entered and then the remaining information automatically retrieved from the <a href="help.php?module=skillsoft&amp;file=olsa.html">OLSA</a> Server.</p>
<p>Any asset that provides a score generates GradeBook entries</p>
<p>&nbsp;</p>
<p>Author: Martin Holden, <a href="http://www.skillsoft.com" target="_blank">SkillSoft</a></p>


