<h1>Scoring and Completion Status of N/A</h1>

<p>Certain assets that SkillSoft <a href="help.php?module=skillsoft&amp;file=olsa.html">OLSA</a> makes available to load do not provide any scoring or completion status.</p>
<p>The following are some of those asset types:</p>
<ul>
<li>Books24x7 Books</li>
<li>Leadership Development Channel Videos</li>
<li>Business Impact</li>
<li>Challenge Series</li>
<li>Learning Sparks</li>
<li>KnowledgeCenters</li>
<li>Mentoring</li>
<li>Learning Programs</li>
<li>Live Learning Courses</li>
<li>Express Guides</li>
<li>"Add-on" Referral Objects (Search &amp; Learn, Books)</li>
</ul>
