<h1>Overview/Description</h1>

<p>Enter the SkillSoft Asset Course Overview or Description, optionally you can use the <a href="help.php?module=skillsoft&amp;file=retrievemetadata.html">Retrieve Metadata</a> button to automatically complete this information from the <a href="help.php?module=skillsoft&amp;file=olsa.html">OLSA</a> server.</p>
