<h1>Download users to file</h1>
<p>This page generate a file containing <b>all</b> users of the site in CSV forma (text, with separator).</p>

<p>This file can be used in "Upload users from file" to update or enroll existing users.</p> 

<p>You may select the field separator character to use.</p>

<p>If you choose a "Max number of course, group and type fields" option different from zero, 
the file will include <code>course1</code>... and <code>role1</code>.. columns.<br /> 
The <code>course</code> columns will contain Course <em>short name</em>, and corresponding <code>role</code> 
column will contain the <em>short name</em> of the Role the User have in that Course.</p>

<p>Rise the number of columns if users may be enrolled to many Courses at the same time.</p>

<p>This User export does not include <code>group</code> columns, used in user upload.</p>