<p align="center"><b>Fake mail addresses generation</b></p>
<p>If a user has no e-mail address, you may insert in <code>email</code>
column the string defined as "String for 'no mail'".<br>
Moodle will generate a fake address and the e-mail of the user will be disabled, 
to avoid Moodle sending any mail to this (fake) address.</p>

<p>Fake addresses will be generated using Internet domain specified by
"Fake domain to generate fake mail addresses".<br />
This should not be a real, existing domain (i.e. default <code>NOMAIL.xx</code> domain does not exists).  
</p>
