<p align="center"><b>Field separator</b></p>
<p>Choose the field separator character used in the file.<br />
Supported separators are the following:<ul>
  <li>, (comma)</li>
  <li>; (semicolon)</li>
  <li>| (pipe)</li>
  <li>Tab character</li>
</ul>
If you select a character different from the separator actually used in the file, you'll 
get errors parsing the uploaded file.</p>

<p>If separator character appears in a field content, it must be encoded as follows:<ul>
  <li>, --&gt; <code>&amp;#44</code></li>
  <li>; --&gt; <code>&amp;#59</code></li>
  <li>| --&gt; <code>&amp;#124</code></li>
  <li>tab --&gt; <code>&amp;#11</code></li>
</ul>
<b>Attention:</b> only  separator character in use must be encoded. 
</p>