<p align="center"><b>Character Encoding in the CSV file</b></p>
<p>Choose the character Encoding in the CSV file.<br />
Supported encodings are:<ul>
  <li>UTF-8 (default)</li>
  <li>Latin - ISO-8859-1</li>
</ul>
<p>The encoding you have to choose usually depends on the program you use to generate
the CSV file, for user uploadm or to open the downloaded file.
<br /><br />
Usually, older spreadsheets in westerern-Europen and US version uses Latin, while newer use UTF-8 
(but this cannot be considered a rule).<br />
Some spreadsheets allow choosing char encoding, others do not.</p>

<p>If you do not know which Encoding to use, do some tests including names with 
accented letters (i.e. "à", "ò"), and check if they are reported exactly after upload or download:
if these letters are shown after the download or the upload, the encoding is correct</b></p>

<p><b>Please note that if your data do not contain special characters, the encoding you choose is not important</b></p>