<p align="center"><b>Max number of <code>course</code>, <code>group</code>, <code>role</code> and <code>type</code> fields</b></p>
<p>Specify the maximum number of <code>course</code>, <code>group</code>, <code>role</code> and <code>type</code>
columns that will be processed.<br>
For exemple, if you select <b>5</b>, will be parted columns <code>course1</code> to <code>course5</code>,
<code>type1</code> to <code>type5</code> and so on.</p>
<p>For more details, see the Help of the page.</p>