<h1>Upload users from file</h1>
<p>Use this feature only when it is not possible (ot it is too hard) to administer users with Manage Users view and User Profile form..<br>
Please note that "Manage Users" view allow you to enroll and unenroll many users in a single operation.</p>

<p>If you are sure you want to load or modify many users accounts using a file, pay attention to following instructions.<br />
Wrong data could damage existing user accounts badly</p>

<p>File format:
<ul>
	<li>The file must be a <b>text file with separator</b> (usually called CSV).</li>
	<li>Fields must be separated by the character select by the option "Field separator character".</li>
	<li>The first row must contain <b>field names</b>, written exactly
		as reported below, all lowercase!</li>
	<li>Following rows contain user data, one User per row.</li>
	<li>Separator character occurrences in field content must be 
		replaced by the following encoding:
		<ul>
			<li>, --&gt; <code>&amp;#44</code></li>
			<li>; --&gt; <code>&amp;#59</code></li>
			<li>| --&gt; <code>&amp;#124</code></li>
			<li>tab --&gt; <code>&amp;#11</code></li>
		</ul>
		Only the character used as separator must be encoded. 
		All other characters should not be changed.
			
</ul>
</p>
	
<h2>File fields</h2>
 
	<h3>Mandatory fields</h3>
	  <ul>
	     <li><code><b>username</b></code><br />
	     	Username must be <b>unique</b>. No other user may share the same name.
	     </li> 
	     <li><code><b>password</b></code><br/>
	     	Optional or mandatory according to "Password field handling" option setting
	     	(see also <a name="#pwdgeneration">Automatic password generation</a>) 
	     	</li>
	     <li><code><b>email</b></code> E-Mail address<br/>
	     	Must be a <b>valid</b> (i.e. not malformed) and <b>unique</b> address.<br />
	     	Alternatively this field may contain the string chosen for "no mail" 
	     	(see also <a href="#fakemail">Fake mail generaration</a>)
		 </li>
	     <li><code><b>firstname</b></code> First Name</li>
	     <li><code><b>lastname</b></code> Surname</li>
	  </ul>
	</li>
	
	<h3>Default fields</h3>
	These fields are optional. If not , the values are taken form site first Admin.
		<ul>
			<li><code><b>mnethostid</b></code> ID of the MNET peer</li>
		    <li><code><b>institution</b></code></li>
		    <li><code><b>department</b></code></li>
		    <li><code><b>city</b></code></li>
		    <li><code><b>country</b></code><br/>
		    	Use 2-characters ISO country codes (i.e. <code>US</code> for U.S., <code>FR</code> for France...).
		    	All UPPERCASE!.</li>
		    <li><code><b>lang</b></code> Preferred user language<br/>
		    	Use <code><i>language</i>_<i>encoding</i></code> codes 
		    	(i.e. <code>en_utf8</code> for English). All lowercase!.
		    </li>
		    <li><code><b>auth</b></code> Authentication plugin</li>
		    <li><code><b>timezone</b></code></li>
		</ul>
	</li>
	
	<h3>Optional fields</h3>
	  <ul>
	    <li><code><b>idnumber</b></code> Student unique ID Number</li>
	    <li><code><b>phone1</b></code> Phone #1</li>
	    <li><code><b>phone2</b></code> Phone #2</li>
	    <li><code><b>address</b></code></li>
	    <li><code><b>url</b></code> User web site URL</li>
	    <li><code><b>description</b></code></li>
	    <li><code><b>icq</b></code>, <code><b>skype</b></code>, 
	    	<code><b>yahoo</b></code>, <code><b>aim</b></code> 
	    	and <code><b>msn</b></code>: IM's IDs 
	    </li>
	  </ul>

	<h3>Special fields (optional)</h3>
	  <ul>
	    <li><code><b>oldusername</b></code> previous Username.<br/>
	    	Used only if options "Update existing accounts" and "Allow renames" 
	    	are both set to <b>Yes</b>.<br />
	    	This will match an existing user's username, that will be 
	    	changed to a new value specified in <code>username</code> column.	 
	    	(see also <a href="#userupdate">Update existing accounts</a>)   
	    </li>
	    <li><code><b>emailstop</b></code> 0=E-mail enabled, 1=E-mail disabled (<b>1</b> means <b>disabled</b>!)</li>
	    <li><code><b>mailformat</b></code> 0=Plain text or 1=HTML mails</li>
	    <li><code><b>maildisplay</b></code> 0=Do not show address, 1=Show address, 2=Show address only to other Course members</li>
	    <li><code><b>htmleditor</b></code> 1|0=Do or do not use HTML Editor</li>
	    <li><code><b>autosubscribe</b></code> 1|0=Do or do not auto-subscribe to forums when post</li>
	    <li><code><b>tracforums</b></code> 1|0=Enable or Disable Forum tracking</li>
	    <li><code><b>screenreader</b></code> 1|0=Enable or Disable Screenreader</li>
	  </ul>

	  
	<h3>Enrolment/Role assignment fields (optional)</h3>
	  <ul>    
	    <li><code><b>course1</b></code>..<code><b>course<i>N</i></b></code> fields<br/>
	    	(up to the number specified by "Max number of course, group and type fields" option.<br />
	    	Should contain the <b>Short Name</b> of the Course to enroll the user in. 
	        (see also <a href="#enrollment">Course enrollment</a>)
	     </li>
	     <li><code><b>role1</b></code>..<code><b>type<i>N</i></b></code> fields<br/>
	       (up to the number specified by "Max number of course, group and type fields" option.<br />
 		   Shortname of the role.<br />
 		   <b>Attention: this field is different from the <code>role</code> field used in standard user upload. 
 		   This is role shortname, and not role ID!</b>
	     </li>	     
	    <li><code><b>type1</b></code>..<code><b>type<i>N</i></b></code> fields<br/>
	       (up to the number specified by "Max number of course, group and type fields" option.<br />
	       Use this field to specify the Role of user in the corresponding Course 
	       (<code>type2</code> corresponds to <code>course2</code>).<br />
	       Roles are: default course role, usually Student (=1), Teacher (=2) or Non-editing Teacher (=3).<br />	        
 		   <code>type</code> is ignored if <code>role</code> specificed.<br />
 		   If neither <code>type</code> nor <code>role</code> are specified, the default course role will be assigned (usually Student).		         
	     </li>
	     <li><code><b>group1</b></code>..<code><b>group<i>N</i></b></code> fields <br />
	        (up to the number specified by "Max number of course, group and type fields" option.<br />
	        Used to specify the Group of the user in the corresponding Course.
	     </li>
	  </ul>
	
</p>


<a name="pwdgeneration"><h1>Automatic password generation</h1></a>
<p>If "<b>Create password if needed</b>" is selected in "Password field handling" option 
you can omit password field.<br />
All omitted passwords will be automatically generated and sent to users bye e-mail in a few minutes
(at the next Cron execution).</p>

<p>Obviously, to send the password you should specify a valid e-mail addresses for the user ;-)</p>


<a name="fakemail"><h1>Fake mail addresses generation</h1></a>
<p>E-Mail address is a mandatory field.<br />
If an user has no mail address (!) or if you don't know the  address 
when loading the user, you must insert the string defined as "String for 'no mail'" 
("<code>NOMAIL</code>" by default) in the <code>email</code> field.</p>
<p>A fake e-mail address will be generated, using the domain specified by the 
"Fake domain to generate fake mail addresses" option. The user's e-mail <b>will be disabled</b> 
in Moodle, to not send any e-mail to this fake address.</p>


<a name="enrollment"><h1>Course Enrollment</h1></a>
<p><code>course..</code>, <code>type..</code>, <code>role..</code> and <code>group..</code> fields
allow you to enrol users to one or more Course, also specifying the Role.</p>

<p>Courses are identified by Course <b>Short Name</b>, that must be written exactly 
(including upper and lower case)!</p>

<p>Roles are identified by Role <b>Short Name</b>.</p>

<p>Even if you choose not to update user data (this is the default), <code>course..</code>,
<code>type..</code> and <code>group..</code> columns are processed to enroll existing users
(matched by Username) without modifying any other user data.</p>



<a name="userupdate"><h1>Update existing accounts</h1></a>
<p>By default, uploading users from file always create new users (or enroll existing 
users to Courses).<br />
If a row of the file contains a username already existing in the site, a warning is 
reported and the row will be skipped.<br />
If "Update existing accounts" is set to <b>Yes</b>, uploaded file will overwrite 
existing user data.</p>

<p>You can also change Username, setting "Allow renames" to <b>Yes</b>, putting the old
username into <code>oldusername</code> field and the new one in <code>username</code>.</p>

<p><b>Attention:</b> any error in uploaded file when updating users may damage 
existing user data!</p>


