    <span id="mycourses">
        <a href="#" onclick='
            if (document.forms[0].mycourses.value=="show")
            {
                document.mycourses_image.src="<?php echo $CFG->wwwroot; ?>/pix/i/show.gif";
                document.forms[0].mycourses.value="hide";
            }
            else
            {
                document.mycourses_image.src="<?php echo $CFG->wwwroot; ?>/pix/i/hide.gif";
                document.forms[0].mycourses.value="show";
            }
            return false;
        '>
            <img src="
                <?php
                    if ($this->config->mycourses=="show")
                        echo $CFG->wwwroot."/pix/i/hide.gif";
                    else
                        echo $CFG->wwwroot."/pix/i/show.gif";
                ?>
            " name="mycourses_image" vspace="3" class="icon hide" alt="Hide link" />
        </a>
        <?php print_string('mycourses', 'block_fn_my_menu'); ?>
        <input type="hidden" name="mycourses" value="<?php echo $this->config->mycourses; ?>" />
    </span>
	<span id="messages">
    	<a href="#" onclick='
	        if (document.forms[0].messages.value=="show")
    		{
	    		document.messages_image.src="<?php echo $CFG->wwwroot; ?>/pix/i/show.gif";
	    		document.forms[0].messages.value="hide";
	    	}
	    	else
	    	{
	    		document.messages_image.src="<?php echo $CFG->wwwroot; ?>/pix/i/hide.gif";
	    		document.forms[0].messages.value="show";
	    	}
    		return false;
    	'>
	    	<img src="
				<?php
					if ($this->config->messages=="show")
						echo $CFG->wwwroot."/pix/i/hide.gif";
					else
						echo $CFG->wwwroot."/pix/i/show.gif";
				?>
			" name="messages_image" vspace="3" class="icon hide" alt="Hide link" />
	    </a>
        <?php print_string('messages', 'block_fn_my_menu'); ?>
		<input type="hidden" name="messages" value="<?php echo $this->config->messages; ?>" />
	</span>
	<span id="profile">
    	<a href="#" onclick='
	        if (document.forms[0].profile.value=="show")
    		{
	    		document.profile_image.src="<?php echo $CFG->wwwroot; ?>/pix/i/show.gif";
	    		document.forms[0].profile.value="hide";
	    	}
	    	else
	    	{
	    		document.profile_image.src="<?php echo $CFG->wwwroot; ?>/pix/i/hide.gif";
	    		document.forms[0].profile.value="show";
	    	}
    		return false;
    	'>
	    	<img src="
				<?php
					if ($this->config->profile=="show")
						echo $CFG->wwwroot."/pix/i/hide.gif";
					else
						echo $CFG->wwwroot."/pix/i/show.gif";
				?>
			" name="profile_image" vspace="3" class="icon hide" alt="Hide link" />
	    </a>
        <?php print_string('profile', 'block_fn_my_menu'); ?>
		<input type="hidden" name="profile" value="<?php echo $this->config->profile; ?>" />
	</span>
	<span id="blogmenu">
    	<a href="#" onclick='
	        if (document.forms[0].blogmenu.value=="show")
    		{
	    		document.blogmenu_image.src="<?php echo $CFG->wwwroot; ?>/pix/i/show.gif";
	    		document.forms[0].blogmenu.value="hide";
	    	}
	    	else
	    	{
	    		document.blogmenu_image.src="<?php echo $CFG->wwwroot; ?>/pix/i/hide.gif";
	    		document.forms[0].blogmenu.value="show";
	    	}
    		return false;
    	'>
	    	<img src="
				<?php
					if ($this->config->blogmenu=="show")
						echo $CFG->wwwroot."/pix/i/hide.gif";
					else
						echo $CFG->wwwroot."/pix/i/show.gif";
				?>
			" name="blogmenu_image" vspace="3" class="icon hide" alt="Hide link" />
	    </a>
        <?php print_string('blogmenu', 'block_fn_my_menu'); ?>
		<input type="hidden" name="blogmenu" value="<?php echo $this->config->blogmenu; ?>" />
	</span>
    <span id="myfiles">
        <a href="#" onclick='
            if (document.forms[0].myfiles.value=="show")
            {
                document.myfiles_image.src="<?php echo $CFG->wwwroot; ?>/pix/i/show.gif";
                document.forms[0].myfiles.value="hide";
            }
            else
            {
                document.myfiles_image.src="<?php echo $CFG->wwwroot; ?>/pix/i/hide.gif";
                document.forms[0].myfiles.value="show";
            }
            return false;
        '>
            <img src="
                <?php
                    if ($this->config->myfiles=="show")
                        echo $CFG->wwwroot."/pix/i/hide.gif";
                    else
                        echo $CFG->wwwroot."/pix/i/show.gif";
                ?>
            " name="myfiles_image" vspace="3" class="icon hide" alt="Hide link" />
        </a>
        <?php print_string('myfiles', 'block_fn_my_menu'); ?> (not available)
        <input type="hidden" name="myfiles" value="<?php echo $this->config->myfiles; ?>" />
    </span>


<table id="list" cellpadding="9" cellspacing="0" border="0" align="center">
<tr id="disp0tr">
	<td><span id="display0"></span></td>
	<td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="up0"><a href="#" onclick="changeItem(0,0); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/up.gif'; ?>"></a></td>
	<td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="down0"><a href="#" onclick="changeItem(0,1); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/down.gif'; ?>"></a></td>
</tr>
<tr id="disp1tr">
	<td><span id="display1"></span></td>
	<td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="up1"><a href="#" onclick="changeItem(0,1); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/up.gif'; ?>"></a></td>
	<td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="down1"><a href="#" onclick="changeItem(1,2); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/down.gif'; ?>"></a></td>
</tr>
<tr id="disp2tr">
	<td><span id="display2"></span></td>
	<td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="up2"><a href="#" onclick="changeItem(1,2); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/up.gif'; ?>"></a></td>
	<td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="down2"><a href="#" onclick="changeItem(2,3); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/down.gif'; ?>"></a></td>
</tr>
<tr id="disp3tr">
	<td><span id="display3"></span></td>
	<td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="up3"><a href="#" onclick="changeItem(2,3); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/up.gif'; ?>"></a></td>
	<td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="down3"><a href="#" onclick="changeItem(3,4); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/down.gif'; ?>"></a></td>
</tr>
<tr id="disp4tr">
	<td><span id="display4"></span></td>
	<td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="up4"><a href="#" onclick="changeItem(3,4); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/up.gif'; ?>"></a></td>
	<td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="down4"><a href="#" onclick="changeItem(4,3); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/down.gif'; ?>"></a></td>
</tr>
<tr>
	<td colspan="3">&nbsp;</td>
</tr>
 <tr valign="top">
     <td align="right">
         <?php print_string('cfgdisplaytitle', 'block_fn_my_menu'); ?>:
     </td>
     <td>
        <?php print_textfield ('displaytitle', !empty($this->config->displaytitle) ? $this->config->displaytitle : ''); ?>
     </td>
 </tr>
</table>
<table align="center">
<tr>
    <td colspan="3" align="center">
        <input type="submit" value="<?php print_string('savechanges'); ?>" />
    </td>
</tr>
</table>

<input type="hidden" name="id0" id="id0" value="<?php echo $this->id[0]; ?>" />
<input type="hidden" name="id1" id="id1" value="<?php echo $this->id[1]; ?>" />
<input type="hidden" name="id2" id="id2" value="<?php echo $this->id[2]; ?>" />
<input type="hidden" name="id3" id="id3" value="<?php echo $this->id[3]; ?>" />
<input type="hidden" name="id4" id="id4" value="<?php echo $this->id[4]; ?>" />

<script type="text/javascript">

tot = <?php echo $this->tot; ?>;

var id = new Array(5);
id[0] = "<?php echo $this->id[0]; ?>";
id[1] = "<?php echo $this->id[1]; ?>";
id[2] = "<?php echo $this->id[2]; ?>";
id[3] = "<?php echo $this->id[3]; ?>";
id[4] = "<?php echo $this->id[4]; ?>";

var spanId = Array(5);
var iptHidden = Array(5);
var spanDisp = Array(5);
for (i = 0; i <= 4; i++) {
	spanId[i] = document.getElementById(id[i]);
	spanId[i].style.display = "none";
	iptHidden[i] = document.getElementById("id"+i);
	spanDisp[i] = document.getElementById("display"+i);
}

for (i = 0; i < tot; i++) {
	spanId[i].style.display = "block";
	spanDisp[i].appendChild(spanId[i]);
}

for (i = tot+1; i <= 4; i++) {
	var x = document.getElementById("list").childNodes;
	if (navigator.appName == "Microsoft Internet Explorer") {
		document.getElementById("list").childNodes[0].removeChild(document.getElementById("disp"+i+"tr"));
	} else {
		document.getElementById("list").childNodes[1].removeChild(document.getElementById("disp"+i+"tr"));
	}
}
document.getElementById("up0").removeChild(document.getElementById("up0").childNodes[0]);
document.getElementById("down"+(tot-1)).removeChild(document.getElementById("down"+(tot-1)).childNodes[0]);

// --------------

function changeItem(n1, n2)
{
	var t = iptHidden[n1].value;
	iptHidden[n1].value = iptHidden[n2].value;
	iptHidden[n2].value = t;

	spanDisp[n1].removeChild(spanId[n1]);
	spanDisp[n2].removeChild(spanId[n2]);
	var t = spanId[n1];
	spanId[n1] = spanId[n2];
	spanId[n2] = t;
	spanDisp[n1].appendChild(spanId[n1]);
	spanDisp[n2].appendChild(spanId[n2]);
}

function IsNumeric(strString)
{
	var strValidChars = "0123456789";
	var strChar;
	var blnResult = true;

	for (i = 0; i < strString.length && blnResult == true; i++) {
		strChar = strString.charAt(i);
		if (strValidChars.indexOf(strChar) == -1) {
			blnResult = false;
		}
	}
	return blnResult;
}


</script>
