<script type="text/javascript">
    function changeHideShow(itemname) {
        if (document.forms[2][itemname].value=="1")
        {
            document[itemname+"_image"].src="<?php echo $CFG->wwwroot; ?>/pix/i/show.gif";
            document.forms[2][itemname].value="0";
        }
        else
        {
            document[itemname+"_image"].src="<?php echo $CFG->wwwroot; ?>/pix/i/hide.gif";
            document.forms[2][itemname].value="1";
        }
        return false;
    }
</script>

    <span id="mycourses">
        <input type="hidden" name="block_fn_my_menu_mycoursesdef" value="<?php echo $CFG->block_fn_my_menu_mycoursesdef; ?>" />
        <a href="#" onclick="return changeHideShow('block_fn_my_menu_mycoursesdef');">
        <img src="
            <?php
                if ($CFG->block_fn_my_menu_mycoursesdef=="1")
                    echo $CFG->wwwroot."/pix/i/hide.gif";
                else
                    echo $CFG->wwwroot."/pix/i/show.gif";
            ?>
        " name="block_fn_my_menu_mycoursesdef_image" id="block_fn_my_menu_mycoursesdef_image" vspace="3" class="icon hide" alt="Hide link" />
        </a>
        <?php print_string('mycourses', 'block_fn_my_menu'); ?>
    </span>
    <span id="messages">
        <input type="hidden" name="block_fn_my_menu_messagesdef" value="<?php echo $CFG->block_fn_my_menu_messagesdef; ?>" />
        <a href="#" onclick="return changeHideShow('block_fn_my_menu_messagesdef');">
        <img src="
            <?php
                if ($CFG->block_fn_my_menu_messagesdef=="1")
                    echo $CFG->wwwroot."/pix/i/hide.gif";
                else
                    echo $CFG->wwwroot."/pix/i/show.gif";
            ?>
        " name="block_fn_my_menu_messagesdef_image" id="block_fn_my_menu_messagesdef_image" vspace="3" class="icon hide" alt="Hide link" />
        </a>
        <?php print_string('messages', 'block_fn_my_menu'); ?>
    </span>
    <span id="profile">
        <input type="hidden" name="block_fn_my_menu_profiledef" value="<?php echo $CFG->block_fn_my_menu_profiledef; ?>" />
        <a href="#" onclick="return changeHideShow('block_fn_my_menu_profiledef');">
        <img src="
            <?php
                if ($CFG->block_fn_my_menu_profiledef=="1")
                    echo $CFG->wwwroot."/pix/i/hide.gif";
                else
                    echo $CFG->wwwroot."/pix/i/show.gif";
            ?>
        " name="block_fn_my_menu_profiledef_image" id="block_fn_my_menu_profiledef_image" vspace="3" class="icon hide" alt="Hide link" />
        </a>
        <?php print_string('profile', 'block_fn_my_menu'); ?>
    </span>
    <span id="blogmenu">
        <input type="hidden" name="block_fn_my_menu_blogmenudef" value="<?php echo $CFG->block_fn_my_menu_blogmenudef; ?>" />
        <a href="#" onclick="return changeHideShow('block_fn_my_menu_blogmenudef');">
        <img src="
            <?php
                if ($CFG->block_fn_my_menu_blogmenudef=="1")
                    echo $CFG->wwwroot."/pix/i/hide.gif";
                else
                    echo $CFG->wwwroot."/pix/i/show.gif";
            ?>
        " name="block_fn_my_menu_blogmenudef_image" id="block_fn_my_menu_blogmenudef_image" vspace="3" class="icon hide" alt="Hide link" />
        </a>
        <?php print_string('blogmenu', 'block_fn_my_menu'); ?>
    </span>
    <span id="myfiles">
        <input type="hidden" name="block_fn_my_menu_myfilesdef" value="<?php echo $CFG->block_fn_my_menu_myfilesdef; ?>" />
        <a href="#" onclick="return changeHideShow('block_fn_my_menu_myfilesdef');">
        <img src="
            <?php
                if ($CFG->block_fn_my_menu_myfilesdef=="1")
                    echo $CFG->wwwroot."/pix/i/hide.gif";
                else
                    echo $CFG->wwwroot."/pix/i/show.gif";
            ?>
        " name="block_fn_my_menu_myfilesdef_image" id="block_fn_my_menu_myfilesdef_image" vspace="3" class="icon hide" alt="Hide link" />
        </a>
        <?php print_string('myfiles', 'block_fn_my_menu'); ?> (not available)
    </span>

<form method="post" action="block.php">

<table cellpadding="9" cellspacing="0">
<tr>
    <td align="right"><p>block_fn_my_menu_mycoursesname:</td>
    <td>
    <input name="block_fn_my_menu_mycoursesname" type="text" value="<?php echo (!empty($CFG->block_fn_my_menu_mycoursesname) ? $CFG->block_fn_my_menu_mycoursesname : get_string('mycourses', 'block_fn_my_menu'));?>" />
    </td>
    <td>
    <?php print_string('mycoursesname','block_fn_my_menu');?>
    </td>
</tr>
<tr>
    <td align="right"><p>block_fn_my_menu_maxbytes:</td>
    <td><?php
    $choices = get_max_upload_sizes($CFG->maxbytes);
    choose_from_menu ($choices, "block_fn_my_menu_maxbytes", $CFG->block_fn_my_menu_maxbytes, "");
    ?>
    </td>
    <td>
    <?php print_string('maxbytes','block_fn_my_menu');?>
    </td>
</tr>
<tr>
<td colspan="3" align="center">
<table id="list" cellpadding="9" cellspacing="0" border="0" align="center">
<tr id="disp0tr">
    <td><span id="display0">
    </span></td>
    <td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="up0"><a href="#" onclick="changeItem(0,0); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/up.gif'; ?>"></a></td>
    <td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="down0"><a href="#" onclick="changeItem(0,1); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/down.gif'; ?>"></a></td>
</tr>
</tr>
<tr id="disp1tr">
    <td><span id="display1">
    </span></td>
    <td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="up1"><a href="#" onclick="changeItem(0,1); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/up.gif'; ?>"></a></td>
    <td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="down1"><a href="#" onclick="changeItem(1,2); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/down.gif'; ?>"></a></td>
</tr>
<tr id="disp2tr">
    <td><span id="display2">
    </span></td>
    <td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="up2"><a href="#" onclick="changeItem(1,2); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/up.gif'; ?>"></a></td>
    <td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="down2"><a href="#" onclick="changeItem(2,3); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/down.gif'; ?>"></a></td>
</tr>
<tr id="disp3tr">
    <td><span id="display3">
    </span></td>
    <td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="up3"><a href="#" onclick="changeItem(2,3); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/up.gif'; ?>"></a></td>
    <td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="down3"><a href="#" onclick="changeItem(3,4); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/down.gif'; ?>"></a></td>
</tr>
<tr id="disp4tr">
    <td><span id="display4">
    </span></td>
    <td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="up4"><a href="#" onclick="changeItem(3,4); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/up.gif'; ?>"></a></td>
    <td style="padding-left: 2px; padding-right: 0px; padding-top: 15px;" id="down4"><a href="#" onclick="changeItem(4,3); return false;"><img src="<?php echo $CFG->wwwroot.'/pix/t/down.gif'; ?>"></a></td>
</tr>
</table>
</td>
</tr>
<tr>
    <td colspan="3" align="center">
    <input type="submit" value="<?php print_string("savechanges") ?>"></td>
</tr>
</table>

	<input name="block" type="hidden" value="<?php echo intval($_REQUEST['block']); ?>" />
	<input name="block_fn_my_menu_groupsections" type="hidden" value="0" />

    <input type="hidden" name="block_fn_my_menu_id0" id="block_fn_my_menu_id0" value="<?php echo $this->id[0]; ?>" />
    <input type="hidden" name="block_fn_my_menu_id1" id="block_fn_my_menu_id1" value="<?php echo $this->id[1]; ?>" />
    <input type="hidden" name="block_fn_my_menu_id2" id="block_fn_my_menu_id2" value="<?php echo $this->id[2]; ?>" />
    <input type="hidden" name="block_fn_my_menu_id3" id="block_fn_my_menu_id3" value="<?php echo $this->id[3]; ?>" />
    <input type="hidden" name="block_fn_my_menu_id4" id="block_fn_my_menu_id4" value="<?php echo $this->id[4]; ?>" />
</form>

<script type="text/javascript">
tot = <?php echo $this->tot; ?>;

var id = new Array(5);
id[0] = "<?php echo $this->id[0]; ?>";
id[1] = "<?php echo $this->id[1]; ?>";
id[2] = "<?php echo $this->id[2]; ?>";
id[3] = "<?php echo $this->id[3]; ?>";
id[4] = "<?php echo $this->id[4]; ?>";

var spanId = Array(5);
var iptHidden = Array(5);
var spanDisp = Array(5);
for (i = 0; i <= 4; i++) {
    spanId[i] = document.getElementById(id[i]);
    spanId[i].style.display = "none";
    iptHidden[i] = document.getElementById("block_fn_my_menu_id"+i);
    spanDisp[i] = document.getElementById("display"+i);
}

for (i = 0; i < tot; i++) {
    spanId[i].style.display = "block";
    spanDisp[i].appendChild(spanId[i]);
}

for (i = tot+1; i <= 4; i++) {
    var x = document.getElementById("list").childNodes;
    if (navigator.appName == "Microsoft Internet Explorer") {
        document.getElementById("list").childNodes[0].removeChild(document.getElementById("disp"+i+"tr"));
    } else {
        document.getElementById("list").childNodes[1].removeChild(document.getElementById("disp"+i+"tr"));
    }
}
document.getElementById("up0").removeChild(document.getElementById("up0").childNodes[0]);
document.getElementById("down"+(tot-1)).removeChild(document.getElementById("down"+(tot-1)).childNodes[0]);

    function changeItem(n1, n2)
    {
        var t = iptHidden[n1].value;
        iptHidden[n1].value = iptHidden[n2].value;
        iptHidden[n2].value = t;

        spanDisp[n1].removeChild(spanId[n1]);
        spanDisp[n2].removeChild(spanId[n2]);
        var t = spanId[n1];
        spanId[n1] = spanId[n2];
        spanId[n2] = t;
        spanDisp[n1].appendChild(spanId[n1]);
        spanDisp[n2].appendChild(spanId[n2]);
    }

</script>
